# Tarea 4 

Hora de entrega: Viernes 14 de marzo, 23:59 pm


Entregar la tarea en este notebook, no usar una adicional a esta.

# Parte 1

Nombre de integrantes:
Nataly Quispe
Carlos Mendoza
Heber Torres

- Antes que nada, ¬°necesitamos nuestros datos! 
1. Ve a la p√°gina de microdatos del [INEI](http://iinei.inei.gob.pe/microdatos/). 
2. Ve a "Consulta por encuestas" y ve a ENAHO metodolog√≠a ACTUALIZADA. 
3. Elige aquella que dice "Condiciones de Vida y Pobreza - ENAHO" (la que no es panel). 
4. Elige el a√±o 2022, y en per√≠odo, elige la anual.   
5. Descarga los **archivos CSV** del C√≥digo m√≥dulo 1 (Caracter√≠sticas de la vivienda y el hogar) y el m√≥dulo 34 (Sumarias - Variables Calculadas). 

(El nombre del archivo de sumaria es Sumaria-2022).

Esta tarea est√° pensada en ser desarrollada con los CSV (no los .dta o .sav, que son los archivos de stata √≥ spss respectivamente).


La ENAHO es una encuesta muy amplia que est√° distribuida en varios m√≥dulos. En esta tarea veremos c√≥mo podemos utilizar informaci√≥n de varios de estos m√≥dulos para sacar datos interesantes.

1. Lee ambos archivos csv con pandas y as√≠gnales un nombre para que puedas trabajar con ambos como base de datos. (Si es que sale un error, es debido a que nuestras encuestas est√°n en espa√±ol y tienen caracteres como Àú de la √± o el acento. Por ello, a las opciones de lectura del csv, agrega la siguiente opci√≥n ``` encoding = "latin-1" ```. 

(No olvides importar pandas üêº)


En caso tus columnas salgan con el nombre en may√∫scula, puedes correr el siguiente comando para cambiarlas a min√∫sculas:

``` python3 
df.columns= df.columns.str.lower()
``` 
Donde `df` es el nombre del dataframe.   
(En esta clase no ahondamos en el manejo de strings, pero `lower()` es un m√©todo de este tipo de variables para convertir el string a min√∫scula.)

In [46]:
!pip install pandas
import pandas as pd
df_viviendahogar = pd.read_csv("C:/Users/heber/Documents/Python/Enaho01-2022-100.csv", encoding="latin-1")
df_sumaria = pd.read_csv("C:/Users/heber/Documents/Python/Sumaria-2022.csv", encoding = "latin-1")
df_viviendahogar.columns = df_viviendahogar.columns.str.lower()
df_sumaria.columns = df_sumaria.columns.str.lower()

df_viviendahogar
df_sumaria

Requirement already satisfied: pandas in c:\users\heber\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\heber\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\heber\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\heber\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\heber\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\heber\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

,a√±o,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,mieperho,totmieho,...,estrsocial,factor07,ld,linpe,linea,pobreza,lineav,pobrezav,nconglome,sub_conglome
0,2022,1,5030,8,11,10201,7,4,2,2,...,4,106.890244,0.809237,223.765335,378.169434,3,636.334351,4,6618,0
1,2022,1,5030,17,11,10201,7,4,2,2,...,4,106.890244,0.809237,223.765335,378.169434,3,662.069275,4,6618,0
2,2022,1,5030,33,11,10201,7,4,4,4,...,4,106.890244,0.809237,223.765335,378.169434,3,662.475037,3,6618,0
3,2022,1,5030,50,11,10201,7,4,3,3,...,4,106.890244,0.809237,223.765335,378.169434,3,652.384521,3,6618,0
4,2022,1,5030,59,11,10201,7,4,11,11,...,4,106.890244,0.809237,223.765335,378.169434,2,654.640137,2,6618,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,2022,12,20537,144,11,210106,6,7,1,1,...,6,329.687836,0.733048,195.850494,315.582428,3,578.385559,3,42033,0
34209,2022,12,20537,232,11,210106,6,7,2,2,...,6,329.687836,0.733048,195.850494,315.582428,3,577.431763,3,42033,0
34210,2022,12,20537,233,11,210106,6,7,1,1,...,6,329.687836,0.733048,195.850494,315.582428,3,579.787720,4,42033,0
34211,2022,12,20537,234,11,210106,6,7,4,4,...,6,329.687836,0.733048,195.850494,315.582428,2,572.994141,2,42033,0
34212,2022,12,20537,235,11,210106,6,7,2,2,...,6,329.687836,0.733048,195.850494,315.582428,2,578.909973,2,42033,0

2. - ¬øCu√°les son las dimensiones de la sumaria? (o el n√∫mero de filas y columnas).
   - ¬øCu√°les son las dimensiones del m√≥dulo de vivienda? (o el n√∫mero de filas y columnas).

In [34]:
 df_sumaria.shape

(44122, 324)

In [36]:
df_viviendahogar.shape

(34213, 167)

3. En esta oportunidad no necesitaremos todas las variables de la ENAHO para hacer esta tarea. 
- Qued√©monos con las variables ``` CONGLOME VIVIENDA HOGAR MIEPERHO PERCEPHO POBREZA GASHOG2D INGHOG2D UBIGEO``` de la sumaria. 
- Qued√©monos con las variables ``` CONGLOME VIVIENDA HOGAR RESULT NBI1 NBI2 NBI3 NBI4 NBI5 ``` del m√≥dulo de vivienda.

 
 Nota: cada una de las variables es:
- MIEPERHO: n√∫mero de miembros del hogar. 
- PERCEPHO: n√∫mero de perceptores del hogar (que reciben un ingreso). 
- POBREZA: Pobreza monetaria seg√∫n la l√≠nea de pobreza. 
- GASHOG2D: Gasto bruto anual del hogar. 
- INGHOG2D: Ingreso anual neto total del hogar. 
- UBIGEO: C√≥digo de 6 d√≠gitos que indica el distrito de pertenencia de la persona. 

Necesidades b√°sicas:
- NBI1: vivienda inadecuada.
- NBI2: hacinamiento
- NBI3: vivienda sin servicios higi√©nicos
- NBI4: hogares con  ni√±os que no asisten a la escuela.
- NBI5: hogares con alta dependencia econ√≥mica 

CONGLOME, VIVIENDA y HOGAR son los identificadores √∫nicos a nivel de hogar (como un key id).

In [227]:
df_sumaria = df_sumaria[['conglome', 'vivienda', 'hogar', 'mieperho', 'percepho', 'pobreza', 'gashog2d','inghog2d','ubigeo']]
df_viviendahogar = df_viviendahogar[['conglome','vivienda','hogar','result','nbi1','nbi2','nbi3','nbi4','nbi5']]

df_sumaria
df_viviendahogar

       conglome  vivienda  hogar  result nbi1 nbi2 nbi3 nbi4 nbi5
0          5007         3     11       1    0    0    0    0    0
1          5007        12     11       1    0    0    0    0    0
2          5007        22     11       1    0    0    0    0    0
4          5007        50     11       1    0    0    0    0    0
10         5009        56     11       1    0    1    0    0    0
...         ...       ...    ...     ...  ...  ...  ...  ...  ...
44115     21001        30     11       1    0    0    0    0    0
44117     21001        32     11       1    0    0    0    0    0
44118     21001        33     11       1    0    0    0    0    0
44119     21001        34     11       1    0    0    0    0    0
44121     21001        36     11       2    0    0    0    0    0

[34213 rows x 9 columns]

4. El m√≥dulo vivienda incluye todos los hogares que entraron en el marco muestral, incluso aquellos que no participaron en la ENAHO por diversos motivos. Para eliminar estas viviendas, qued√©monos con aquellas cuyo ``` RESULT``` sea igual a 1 √≥ 2. Almacena este resultado para despu√©s.

In [217]:
df_viviendaresult = df_viviendahogar[(df_viviendahogar['result'] == 1)| (df_viviendahogar['result'] == 2)]
df_viviendaresult

       conglome  vivienda  hogar  result nbi1 nbi2 nbi3 nbi4 nbi5
0          5007         3     11       1    0    0    0    0    0
1          5007        12     11       1    0    0    0    0    0
2          5007        22     11       1    0    0    0    0    0
4          5007        50     11       1    0    0    0    0    0
10         5009        56     11       1    0    1    0    0    0
...         ...       ...    ...     ...  ...  ...  ...  ...  ...
44115     21001        30     11       1    0    0    0    0    0
44117     21001        32     11       1    0    0    0    0    0
44118     21001        33     11       1    0    0    0    0    0
44119     21001        34     11       1    0    0    0    0    0
44121     21001        36     11       2    0    0    0    0    0

[34213 rows x 9 columns]

5. Queremos calcular una serie de variables (√≥ columnas nuevas):  
En sumaria: 
- Queremos el n√∫mero de miembros dependientes del hogar . Estos son el n√∫mero de personas que no perciben un ingreso √≥ la diferencia entre el total de miembros y el total de perceptores. 
- Queremos el ingreso mensual promedio por perceptor del hogar.
- Queremos la diferencia  entre ingreso y gasto del hogar

In [229]:
df_sumaria["miembrosdep"] = df_sumaria["mieperho"] - df_sumaria["percepho"]
df_sumaria

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,miembrosdep
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4
...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0

In [71]:
df_sumaria["ingpromedio"] = df_sumaria["inghog2d"] / (df_sumaria["percepho"])
df_sumaria

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,miembrosdep,ingpromedio
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,17303.220703
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,41014.109375
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,7947.757324
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,24028.867188
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,6579.444196
...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0,9944.963867
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0,6237.817871
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0,5277.916016
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2,4698.999023
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0,3691.403076

In [75]:
df_sumaria["diferencia"] = df_sumaria["inghog2d"] - df_sumaria["gashog2d"]
df_sumaria

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,miembrosdep,ingpromedio,diferencia
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,17303.220703,-2343.082031
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,41014.109375,33866.968750
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,7947.757324,4215.152344
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,24028.867188,7867.824219
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,6579.444196,15449.896484
...,...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0,9944.963867,5507.148926
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0,6237.817871,4543.809082
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0,5277.916016,-3238.875977
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2,4698.999023,-3521.853516
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0,3691.403076,1113.862793

6. La variable de `pobreza`, en la sumaria, est√° codificada como integers 1, 2 y 3. Esto corresponde a:  
`1`: hogar pobre extremo  
`2`: hogar pobre no extremo  
`3`: hogar no  pobre  

En base a esta variable, crea dos variables m√°s:
1. Una variable que tenga `'pobre extremo'`, `'pobre no extremo'` y `'no pobre'` en vez  de 1, 2, 3.
2. Una variable que tenga `'pobre'` y `'no pobre'` (√≥ que englobe a los hogares pobres y pobres no extremos).

In [266]:
df_sumaria.loc[df_sumaria["pobreza"] == 1, "categoriapobreza"] = "pobre extremo"
df_sumaria.loc[df_sumaria["pobreza"] == 2, "categoriapobreza"] = "pobre no extremo"
df_sumaria.loc[df_sumaria["pobreza"] == 3, "categoriapobreza"] = "no pobre"

df_sumaria

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,miembrosdep,categoriapobre,categoriapobreza
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,no pobre,no pobre
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,no pobre,no pobre
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,no pobre,no pobre
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,no pobre,no pobre
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,pobre,pobre no extremo
...,...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0,no pobre,no pobre
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0,no pobre,no pobre
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0,no pobre,no pobre
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2,pobre,pobre no extremo
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0,pobre,pobre no extremo

In [263]:
df_sumaria.loc[df_sumaria["pobreza"] == 1, "categoriapobre"] = "pobre"
df_sumaria.loc[df_sumaria["pobreza"] == 2, "categoriapobre"] = "pobre"
df_sumaria.loc[df_sumaria["pobreza"] == 3, "categoriapobre"] = "no pobre"

df_sumaria

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,miembrosdep,categoriapobre
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,no pobre
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,no pobre
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,no pobre
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,no pobre
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,pobre
...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0,no pobre
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0,no pobre
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0,no pobre
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2,pobre
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0,pobre

7. Queremos saber el promedio de ingresos de los hogares (inghog2d) por nivel de pobreza. Haz un `groupby` para averiguar esto. 


(Por ejemplo, todos los hogares pobres extremos tendr√°n un √∫nico promedio, y as√≠ con las 2 categor√≠as de pobreza adicionales).

In [233]:
promedioingresos = df_merge.groupby("categoriapobreza")["inghog2d"].mean()
print(promedioingresos)

categoriapobreza
no pobre            40513.933057
pobre extremo       12945.434301
pobre no extremo    20042.135942
Name: inghog2d, dtype: float64

8. ¬°Ahora uniremos los datos!  
Pero antes un check de sanidad: Verifica que el n√∫mero  de filas de ambas bases de datos son las mismas (acu√©rdate que filtramos las observaciones por `result`).  La ENAHO recolecta informaci√≥n de estos 34,490 hogares a trav√©s de todos sus m√≥dulos. Para utilizar estos m√≥dulos a la vez, realizaremos una "uni√≥n" (merge).   

Une ambas bases con un _inner merge_. Recuerda que el id que identifica a cada hogar se compone de ` conglome vivienda hogar`.

In [235]:
df_sumaria.shape

(34213, 10)

In [237]:
df_viviendahogar.shape

(34213, 9)

In [270]:
df_merge = df_sumaria.merge(df_viviendaresult, on=["conglome", "vivienda", "hogar"], how="inner")
df_merge.head()

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,miembrosdep,categoriapobre,categoriapobreza,result,nbi1,nbi2,nbi3,nbi4,nbi5
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,no pobre,no pobre,1,0,0,0,0,0
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,no pobre,no pobre,1,0,0,0,0,0
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,no pobre,no pobre,1,0,1,0,0,0
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,no pobre,no pobre,1,0,0,0,0,0
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,pobre,pobre no extremo,1,0,1,0,0,0

In [9]:
# tu respuesta aqu√≠

9. Haz un ```groupby``` que agrupe (`agg`) los datos por nivel de pobreza  y la nbi1. Queremos hallar el promedio y la mediana de los ingresos (inghog2d) y los gastos (gashog2d) por el producto cartesiano de las categor√≠as de estas 2 variables - pobreza y nbi 1 -. 

El producto cartesiano es tan s√≥lo todas las posibles combinaciones entre categor√≠as. 
En este caso, tendremos:
- pobre extremo con nbi1
- pobre extremo sin nbi1
- pobre no extremo con nbi1
- pobre no extremo sin nbi1
- no pobre con nbi1
- no pobre sin nbi1

(Este es un  ejemplo de c√≥mo, al cruzar un indicador de pobreza monetaria -pobreza- y pobreza multidimensional-nbis-, podemos seguir observando brechas).

In [272]:
df_merge.groupby(["categoriapobre", "nbi1"])[["inghog2d", "gashog2d"]].agg(["mean", "median"])

                         inghog2d                    gashog2d
                             mean        median          mean        median
categoriapobre nbi1
no pobre       0     41483.639054  30811.552734  32560.459581  27251.416016
               1     25945.486160  21665.683594  21946.112793  20046.343750
pobre          0     18662.807382  14692.534180  13526.637464  12373.640625
               1     17515.521464  14195.839355  13478.906280  12111.706055

10. Crea una variable que nos informe sobre los hogares que tienen al menos dos nbis. Esta tomar√° el valor de 1 si tiene dos nbis (cualquiera sean estas), 0 en caso contrario (menos de 2). 

Calcula el promedio de miembros dependientes por cada categor√≠a de esta nueva variable.

In [275]:
df_merge["2nbi"] = (df_merge[["nbi1", "nbi2", "nbi3", "nbi4", "nbi5"]].astype(int).sum(axis=1) >= 2).astype(int)

Cr√©dito extra: 

11. Guarda el dataframe del resultado del ejercicio 9 como un csv. (No es necesario adjuntar este csv, con  que el bloque haya corrido est√° bien).

In [294]:
df_merge.to_csv("problema11.csv")

12. Haz una tabulaci√≥n cruzada en donde cuentes el n√∫mero de personas, por nivel de pobreza, que hay en cada departamento. Este nuevo dataframe tendr√° como filas a los departamentos y las nuevas columnas, los 3 niveles de pobreza (pobre extremo, pobre y no pobre). Usa `pivot_table`.

*Nota: Los departamentos no necesitan tener nombre, con que est√©n enumerados del 1 al 25, est√° bien. 
Pista: Puedes utilizar una funci√≥n que guarde el primer d√≠gito de ubigeo cuando el valor es menor a x, y guardar 2 d√≠gitos cuando el valor es mayor.   
El m√©todo de creaci√≥n de la variable departamento es libre.

In [1]:
# tu respuesta aqu√≠.

# Parte 2

1. Escribe una funci√≥n que toma dos par√°metros num√©ricos, `a` y `b`, y resta ambos n√∫meros, de tal forma que `c = a - b`. Expresa `c` como el valor a retornar.

In [ ]:
def restar(a, b):
    c= a - b
    return c

2. Escribe una funci√≥n que transforme la temperatura de grados celsius a grados fahrenheit. La f√≥rmula es:    
$F = 1.8*C + 32$

In [2]:
def celsius_a_fahrenheit(temp_c):
    '''
    transforma temperatura de celsius a fahrenheit
    Input: 
        temp_c:n√∫mero float
    Ouput: 
        retorna: n√∫mero float
    '''
    temp_f = 1.8*temp_c + 32
    #Escribe aqu√≠ tu funci√≥n 
    
    return temp_f

In [ ]:
print(celsius_a_fahrenheit(30))

3. 

3.1. Escribe una funci√≥n que tome como input una lista de n√∫meros y calcule su promedio. 

3.2. Escribe una funci√≥n que tome como input un diccionario, y que almacene en una lista a todos sus valores.  
Es decir. Si el diccionario es el de la clase: 
`ejem_dict =  {"Juana": "gallina", "Martin": "gato", "Carla": "conejo", "Cristina": "gato", "Diego": "perro" } `
Queremos un diccionario = `["gallina", "gato", "conejo","gato", "perro"]`

In [201]:
lista_1 = [3,6,9,12,15,18]

In [203]:
def promediar(lista_1):
  return sum(lista_1)/len(lista_1)

In [205]:
print(promediar(lista_1))

10.5

In [207]:
def valores(diccionario):
  return list(diccionario.values())

In [209]:
ejm_dict = {"Juana": "gallina", "Martin": "gato", "Carla": "conejo", "Cristina": "gato", "Diego": "perro" }
print(valores(ejm_dict))

['gallina', 'gato', 'conejo', 'gato', 'perro']

4. Tenemos la siguientes funci√≥n:

In [3]:
def grado_escolar(edad):
    
    ''' calcula el grado escolar al que pertences segun tu edad
    Input: 
    edad : int
    output: tupla, compuestad de 
    grado: string
    esp: especifico que grado
    
    '''
    
    if ((edad < 6) | (edad > 17)):
        return "No est√° en edad escolar"
    #assert edad > 5 & edad < 17
    elif ((edad >=6) & (edad < 12)):
        grado = "Primaria"
        if edad == 6:
            esp = "1er grado"
        elif edad == 7:
            esp = "2do grado"
        elif edad == 8:
            esp = "3er grado"
        elif edad == 9:
            esp = "4to grado"
        elif edad == 10:
            esp = "5to grado"
        else:
            esp = "6to grado"
        
    else:
        grado = "Secundaria"
        if edad == 12:
            esp = "1er a√±o"
        elif edad == 13:
            esp = "2do a√±o"
        elif edad == 14:
            esp = "3er a√±o"
        elif edad == 15:
            esp = "4to a√±o"
        else:
            esp = "5to a√±o"
            
    return grado, esp


Asimismo, tenemos a 7 ni√±os, que tienen las siguientes edades:   
    `edades = [2, 4, 6, 7, 10, 15, 16]`  
Queremos saber a qu√© grados/a√±os van estos ni√±os. Para ello, crea una lista vac√≠a. En dicha lista almacenar√°s el resultado de dicha funci√≥n para cada una de las edades de esta lista. Utiliza un for loop . 

Pista: Para familiarizarte con la funci√≥n, puedes utilizarla con edades dentro del rango de edad escolar.

In [189]:
edades = [2,4,6,7,10,15,16]
grados = []

In [ ]:

for edad in edades:
  grados.append(grado_escolar(edad))

In [ ]:
print(grado_escolar(7))

In [ ]:
print(grado_escolar(2))