# Tarea 4 

Hora de entrega: Viernes 14 de marzo, 23:59 pm


Entregar la tarea en este notebook, no usar una adicional a esta.

# Parte 1

- Antes que nada, ¡necesitamos nuestros datos! 
1. Ve a la página de microdatos del [INEI](http://iinei.inei.gob.pe/microdatos/). 
2. Ve a "Consulta por encuestas" y ve a ENAHO metodología ACTUALIZADA. 
3. Elige aquella que dice "Condiciones de Vida y Pobreza - ENAHO" (la que no es panel). 
4. Elige el año 2022, y en período, elige la anual.   
5. Descarga los **archivos CSV** del Código módulo 1 (Características de la vivienda y el hogar) y el módulo 34 (Sumarias - Variables Calculadas). 

(El nombre del archivo de sumaria es Sumaria-2022).

Esta tarea está pensada en ser desarrollada con los CSV (no los .dta o .sav, que son los archivos de stata ó spss respectivamente).


La ENAHO es una encuesta muy amplia que está distribuida en varios módulos. En esta tarea veremos cómo podemos utilizar información de varios de estos módulos para sacar datos interesantes.

1. Lee ambos archivos csv con pandas y asígnales un nombre para que puedas trabajar con ambos como base de datos. (Si es que sale un error, es debido a que nuestras encuestas están en español y tienen caracteres como ˜ de la ñ o el acento. Por ello, a las opciones de lectura del csv, agrega la siguiente opción ``` encoding = "latin-1" ```. 

(No olvides importar pandas 🐼)


En caso tus columnas salgan con el nombre en mayúscula, puedes correr el siguiente comando para cambiarlas a minúsculas:

``` python3 
df.columns= df.columns.str.lower()
``` 
Donde `df` es el nombre del dataframe.   
(En esta clase no ahondamos en el manejo de strings, pero `lower()` es un método de este tipo de variables para convertir el string a minúscula.)

In [62]:
import pandas as pd

In [64]:
#Leemos ambos archivos csv y definimos los data frames
df_Enaho = pd.read_csv("Enaho01-2022-100.csv", encoding="latin-1")
df_sumaria = pd.read_csv("Sumaria-2022.csv", encoding="latin-1")
#Colocamos todas las variables en minúsculas para evitar confusiones en el typeo y lenguaje
df_Enaho.columns = df_Enaho.columns.str.lower()
df_sumaria.columns = df_sumaria.columns.str.lower()
print(df_Enaho.columns)
print(df_sumaria.columns)

Index(['año', 'mes', 'conglome', 'vivienda', 'hogar', 'ubigeo', 'dominio',
       'estrato', 'periodo', 'tipenc',
       ...
       'nbi4', 'nbi5', 'factor07', 'nconglome', 'sub_conglome', 'codccpp',
       'nomccpp', 'longitud', 'latitud', 'altitud'],
      dtype='object', length=324)
Index(['año', 'mes', 'conglome', 'vivienda', 'hogar', 'ubigeo', 'dominio',
       'estrato', 'mieperho', 'totmieho',
       ...
       'estrsocial', 'factor07', 'ld', 'linpe', 'linea', 'pobreza', 'lineav',
       'pobrezav', 'nconglome', 'sub_conglome'],
      dtype='object', length=167)

2. - ¿Cuáles son las dimensiones de la sumaria? (o el número de filas y columnas).
   - ¿Cuáles son las dimensiones del módulo de vivienda? (o el número de filas y columnas).

In [66]:
#Se emplea el comando .shape para poder apreciar las filas y columnas
print("Dimensiones del módulo 1 (características de la vivienda y el hogar):", df_Enaho.shape)

Dimensiones del módulo 1 (características de la vivienda y el hogar): (44122, 324)

In [68]:
print("Dimensiones del módulo 34 (sumarias):", df_sumaria.shape)

Dimensiones del módulo 34 (sumarias): (34213, 167)

3. En esta oportunidad no necesitaremos todas las variables de la ENAHO para hacer esta tarea. 
- Quedémonos con las variables ``` CONGLOME VIVIENDA HOGAR MIEPERHO PERCEPHO POBREZA GASHOG2D INGHOG2D UBIGEO``` de la sumaria. 
- Quedémonos con las variables ``` CONGLOME VIVIENDA HOGAR RESULT NBI1 NBI2 NBI3 NBI4 NBI5 ``` del módulo de vivienda.

 
 Nota: cada una de las variables es:
- MIEPERHO: número de miembros del hogar. 
- PERCEPHO: número de perceptores del hogar (que reciben un ingreso). 
- POBREZA: Pobreza monetaria según la línea de pobreza. 
- GASHOG2D: Gasto bruto anual del hogar. 
- INGHOG2D: Ingreso anual neto total del hogar. 
- UBIGEO: Código de 6 dígitos que indica el distrito de pertenencia de la persona. 

Necesidades básicas:
- NBI1: vivienda inadecuada.
- NBI2: hacinamiento
- NBI3: vivienda sin servicios higiénicos
- NBI4: hogares con  niños que no asisten a la escuela.
- NBI5: hogares con alta dependencia económica 

CONGLOME, VIVIENDA y HOGAR son los identificadores únicos a nivel de hogar (como un key id).

In [145]:
col_sumaria = ["conglome", "vivienda", "hogar", "mieperho", "percepho", "pobreza", "gashog2d", "inghog2d", "ubigeo"]
df_sumaria = df_sumaria.drop(columns=[col for col in df_sumaria.columns if col not in col_sumaria])
df_sumaria.head()

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201

In [147]:
col_vivienda = ["conglome", "vivienda", "hogar", "result", "nbi1", "nbi2", "nbi3", "nbi4", "nbi5"]
df_Enaho = df_Enaho.drop(columns=[col for col in df_Enaho.columns if col not in col_vivienda])
df_Enaho.head()

    conglome  vivienda  hogar  result nbi1 nbi2 nbi3 nbi4 nbi5
0       5007         3     11       1    0    0    0    0    0
1       5007        12     11       1    0    0    0    0    0
2       5007        22     11       1    0    0    0    0    0
4       5007        50     11       1    0    0    0    0    0
10      5009        56     11       1    0    1    0    0    0

4. El módulo vivienda incluye todos los hogares que entraron en el marco muestral, incluso aquellos que no participaron en la ENAHO por diversos motivos. Para eliminar estas viviendas, quedémonos con aquellas cuyo ``` RESULT``` sea igual a 1 ó 2. Almacena este resultado para después.

In [149]:
df_Enaho = df_Enaho[df_Enaho["result"].isin([1, 2])]

5. Queremos calcular una serie de variables (ó columnas nuevas):  
En sumaria: 
- Queremos el número de miembros dependientes del hogar . Estos son el número de personas que no perciben un ingreso ó la diferencia entre el total de miembros y el total de perceptores. 
- Queremos el ingreso mensual promedio por perceptor del hogar.
- Queremos la diferencia  entre ingreso y gasto del hogar

In [159]:
# Pista: evaluar los tipos de las variables, y verificar que aquellas que sean numéricas, efectivamente lo sean.
df_sumaria[["mieperho", "percepho", "inghog2d", "gashog2d"]].dtypes

mieperho      int64
percepho      int64
inghog2d    float64
gashog2d    float64
dtype: object

In [174]:
# tu respuesta aquí
df_sumaria["df_miembros_dependientes"] = df_sumaria["mieperho"] - df_sumaria["percepho"]
df_sumaria.head()

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,df_miembros_dependientes,df_ingper,df_ing_gas
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,17303.220703,-2343.082031
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,41014.109375,33866.968750
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,7947.757324,4215.152344
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,24028.867188,7867.824219
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,6579.444196,15449.896484

In [176]:
# tu respuesta aquí
df_sumaria["df_ingper"] = df_sumaria["inghog2d"]/df_sumaria["percepho"]
df_sumaria.head()

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,df_miembros_dependientes,df_ingper,df_ing_gas
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,17303.220703,-2343.082031
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,41014.109375,33866.968750
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,7947.757324,4215.152344
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,24028.867188,7867.824219
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,6579.444196,15449.896484

In [180]:
# tu respuesta aquí.
df_sumaria["df_ing_gas"] = df_sumaria["inghog2d"] - df_sumaria["gashog2d"]
df_sumaria.head()

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,df_miembros_dependientes,df_ingper,df_ing_gas
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,17303.220703,-2343.082031
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,41014.109375,33866.968750
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,7947.757324,4215.152344
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,24028.867188,7867.824219
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,6579.444196,15449.896484

6. La variable de `pobreza`, en la sumaria, está codificada como integers 1, 2 y 3. Esto corresponde a:  
`1`: hogar pobre extremo  
`2`: hogar pobre no extremo  
`3`: hogar no  pobre  

En base a esta variable, crea dos variables más:
1. Una variable que tenga `'pobre extremo'`, `'pobre no extremo'` y `'no pobre'` en vez  de 1, 2, 3.
2. Una variable que tenga `'pobre'` y `'no pobre'` (ó que englobe a los hogares pobres y pobres no extremos).

In [186]:
# tu respuesta aquí 
#la formulación del código es dataframe["variable nueva"] = dataframe[variable existente].replace({variables a remplazar...)}
df_sumaria["pobreza1"] = df_sumaria["pobreza"].replace({1: "pobre extremo", 2: "pobre no extremo", 3: "no pobre"})
df_sumaria.head()

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,df_miembros_dependientes,df_ingper,df_ing_gas,pobreza1
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,17303.220703,-2343.082031,no pobre
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,41014.109375,33866.968750,no pobre
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,7947.757324,4215.152344,no pobre
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,24028.867188,7867.824219,no pobre
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,6579.444196,15449.896484,pobre no extremo

In [190]:
# tu respuesta aquí
df_sumaria["pobreza2"] = df_sumaria["pobreza"].replace({1: "pobre", 2: "pobre", 3: "no pobre"})
df_sumaria.head()

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,df_miembros_dependientes,df_ingper,df_ing_gas,pobreza1,pobreza2
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,17303.220703,-2343.082031,no pobre,no pobre
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,41014.109375,33866.968750,no pobre,no pobre
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,7947.757324,4215.152344,no pobre,no pobre
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,24028.867188,7867.824219,no pobre,no pobre
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,6579.444196,15449.896484,pobre no extremo,pobre

7. Queremos saber el promedio de ingresos de los hogares (inghog2d) por nivel de pobreza. Haz un `groupby` para averiguar esto. 


(Por ejemplo, todos los hogares pobres extremos tendrán un único promedio, y así con las 2 categorías de pobreza adicionales).

In [194]:
df_sumaria[['inghog2d', 'pobreza']].groupby('pobreza').mean()

             inghog2d
pobreza
1        12945.434301
2        20042.135942
3        40513.933057

In [198]:
df_sumaria[['inghog2d', 'pobreza1']].groupby('pobreza1').mean()

                      inghog2d
pobreza1
no pobre          40513.933057
pobre extremo     12945.434301
pobre no extremo  20042.135942

In [196]:
df_sumaria[['inghog2d', 'pobreza2']].groupby('pobreza2').mean()

              inghog2d
pobreza2
no pobre  40513.933057
pobre     18522.930335

8. ¡Ahora uniremos los datos!  
Pero antes un check de sanidad: Verifica que el número  de filas de ambas bases de datos son las mismas (acuérdate que filtramos las observaciones por `result`).  La ENAHO recolecta información de estos 34,490 hogares a través de todos sus módulos. Para utilizar estos módulos a la vez, realizaremos una "unión" (merge).   

Une ambas bases con un _inner merge_. Recuerda que el id que identifica a cada hogar se compone de ` conglome vivienda hogar`.

In [202]:
# tu respuesta aquí
# La estructura del código es: nombre del merge = dataframe1.merge(df2, on=[variables id], how="método")
df_merged = df_sumaria.merge(df_Enaho, on=["conglome", "vivienda", "hogar"], how="inner")

In [204]:
# tu respuesta aquí
print(df_sumaria.shape, df_Enaho.shape)

(34213, 14) (34213, 9)

In [208]:
# tu respuesta aquí
df_merged.head()

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,df_miembros_dependientes,df_ingper,df_ing_gas,pobreza1,pobreza2,result,nbi1,nbi2,nbi3,nbi4,nbi5
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,17303.220703,-2343.082031,no pobre,no pobre,1,0,0,0,0,0
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,41014.109375,33866.968750,no pobre,no pobre,1,0,0,0,0,0
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,7947.757324,4215.152344,no pobre,no pobre,1,0,1,0,0,0
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,24028.867188,7867.824219,no pobre,no pobre,1,0,0,0,0,0
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,6579.444196,15449.896484,pobre no extremo,pobre,1,0,1,0,0,0

9. Haz un ```groupby``` que agrupe (`agg`) los datos por nivel de pobreza  y la nbi1. Queremos hallar el promedio y la mediana de los ingresos (inghog2d) y los gastos (gashog2d) por el producto cartesiano de las categorías de estas 2 variables - pobreza y nbi 1 -. 

El producto cartesiano es tan sólo todas las posibles combinaciones entre categorías. 
En este caso, tendremos:
- pobre extremo con nbi1
- pobre extremo sin nbi1
- pobre no extremo con nbi1
- pobre no extremo sin nbi1
- no pobre con nbi1
- no pobre sin nbi1

(Este es un  ejemplo de cómo, al cruzar un indicador de pobreza monetaria -pobreza- y pobreza multidimensional-nbis-, podemos seguir observando brechas).

In [218]:
# tu respuesta aquí
#estructura --> dfmerged.groupby(["variables del mapa cart."]).agg({"variable": ["mean", "median"], ...)
df_merged.groupby(["pobreza", "nbi1"]).agg({"inghog2d": ["mean", "median"], "gashog2d": ["mean", "median"]})

                  inghog2d                    gashog2d
                      mean        median          mean        median
pobreza nbi1
1       0     12789.427903  10092.849609   8384.462050   7918.078613
        1     13938.827986  11361.211426   9048.719897   8502.177246
2       0     20230.731744  16260.113281  14899.363700  13943.960938
        1     18634.609608  15313.995117  14865.038216  13673.346680
3       0     41483.639054  30811.552734  32560.459581  27251.416016
        1     25945.486160  21665.683594  21946.112793  20046.343750

10. Crea una variable que nos informe sobre los hogares que tienen al menos dos nbis. Esta tomará el valor de 1 si tiene dos nbis (cualquiera sean estas), 0 en caso contrario (menos de 2). 

Calcula el promedio de miembros dependientes por cada categoría de esta nueva variable.

In [224]:
# tu respuesta aquí
df_merged["nbi1"] = pd.to_numeric(df_merged["nbi1"], errors="coerce")  
df_merged["nbi_01"] = (df_merged["nbi1"] >= 1).astype(int)
df_merged.groupby("nbi_01")["df_miembros_dependientes"].mean()

nbi_01
0    1.175111
1    1.432041
Name: df_miembros_dependientes, dtype: float64

Crédito extra: 

11. Guarda el dataframe del resultado del ejercicio 9 como un csv. (No es necesario adjuntar este csv, con  que el bloque haya corrido está bien).

In [226]:
# tu respuesta aquí. 
df_merged.to_csv("resultado_ejercicio_9.csv", index=True)

12. Haz una tabulación cruzada en donde cuentes el número de personas, por nivel de pobreza, que hay en cada departamento. Este nuevo dataframe tendrá como filas a los departamentos y las nuevas columnas, los 3 niveles de pobreza (pobre extremo, pobre y no pobre). Usa `pivot_table`.

*Nota: Los departamentos no necesitan tener nombre, con que estén enumerados del 1 al 25, está bien. 
Pista: Puedes utilizar una función que guarde el primer dígito de ubigeo cuando el valor es menor a x, y guardar 2 dígitos cuando el valor es mayor.   
El método de creación de la variable departamento es libre.

In [262]:
# tu respuesta aquí. 
def depto(ubigeo):
    ubigeo = str(ubigeo)
    if int(ubigeo) < 100000:  
        return int(ubigeo[0])
    else:  
        return int(ubigeo[:2])

df_merged["departamento"] = df_merged["ubigeo"].apply(depto)
tabla = df_merged.pivot_table(index="departamento", columns="pobreza1", values="mieperho", aggfunc="sum")
print(tabla)

pobreza1      no pobre  pobre extremo  pobre no extremo
departamento
1               2963.0          434.0             906.0
2               3613.0          214.0             788.0
3               2158.0          116.0             627.0
4               4252.0          129.0             592.0
5               2010.0          451.0             959.0
6               2508.0          903.0            1173.0
7               2542.0          163.0             849.0
8               2966.0          141.0             731.0
9               2110.0          313.0             927.0
10              2554.0          447.0            1074.0
11              4733.0            NaN             199.0
12              3658.0          225.0             800.0
13              3850.0          263.0            1221.0
14              4446.0           60.0             606.0
15             11554.0          476.0            3096.0
16              3590.0          864.0            1532.0
17              1782.0           22.0             176.0
18              2415.0           88.0             251.0
19              1848.0          281.0             758.0
20              4296.0          212.0            1494.0
21              1964.0          386.0             915.0
22              3806.0          190.0             804.0
23              3110.0           96.0             766.0
24              2323.0           18.0             655.0
25              3511.0          161.0             864.0

# Parte 2

1. Escribe una función que toma dos parámetros numéricos, `a` y `b`, y resta ambos números, de tal forma que `c = a - b`. Expresa `c` como el valor a retornar.

In [6]:
def funcion(a,b):
    
    c = a - b

    return c

In [10]:
funcion (4,3)

1

2. Escribe una función que transforme la temperatura de grados celsius a grados fahrenheit. La fórmula es:    
$F = 1.8*C + 32$

In [14]:
def celsius_a_fahrenheit(temp_c):
    '''
    transforma temperatura de celsius a fahrenheit
    Input: 
        temp_c:número float
    Ouput: 
        retorna: número float
    '''
    
    #Escribe aquí tu función 
    temp_f = 1.8*temp_c + 32
    
    
    return temp_f

In [16]:
celsius_a_fahrenheit( 5 )

41.0

3. 

3.1. Escribe una función que tome como input una lista de números y calcule su promedio. 

3.2. Escribe una función que tome como input un diccionario, y que almacene en una lista a todos sus valores.  
Es decir. Si el diccionario es el de la clase: 
`ejem_dict =  {"Juana": "gallina", "Martin": "gato", "Carla": "conejo", "Cristina": "gato", "Diego": "perro" } `
Queremos un diccionario = `["gallina", "gato", "conejo","gato", "perro"]`

In [24]:
#3.1

lista1 = [1,2,3,4]
def funcion (lista1):
    
    prom = sum(lista1)/len(lista1)
    
    return (prom)

In [26]:
funcion(lista1)

2.5

In [28]:
#3.2

def extraer_valores(diccionario):
    return list(diccionario.values())

ejem_dict = {"Juana": "gallina", "Martin": "gato", "Carla": "conejo", "Cristina": "gato"}
valores_lista = extraer_valores(ejem_dict)

print(valores_lista)

['gallina', 'gato', 'conejo', 'gato']

4. Tenemos la siguientes función:

In [3]:
def grado_escolar(edad):
    
    ''' calcula el grado escolar al que pertences segun tu edad
    Input: 
    edad : int
    output: tupla, compuestad de 
    grado: string
    esp: especifico que grado
    
    '''
    
    if ((edad < 6) | (edad > 17)):
        return "No está en edad escolar"
    #assert edad > 5 & edad < 17
    elif ((edad >=6) & (edad < 12)):
        grado = "Primaria"
        if edad == 6:
            esp = "1er grado"
        elif edad == 7:
            esp = "2do grado"
        elif edad == 8:
            esp = "3er grado"
        elif edad == 9:
            esp = "4to grado"
        elif edad == 10:
            esp = "5to grado"
        else:
            esp = "6to grado"
        
    else:
        grado = "Secundaria"
        if edad == 12:
            esp = "1er año"
        elif edad == 13:
            esp = "2do año"
        elif edad == 14:
            esp = "3er año"
        elif edad == 15:
            esp = "4to año"
        else:
            esp = "5to año"
            
    return grado, esp


Asimismo, tenemos a 7 niños, que tienen las siguientes edades:   
    `edades = [2, 4, 6, 7, 10, 15, 16]`  
Queremos saber a qué grados/años van estos niños. Para ello, crea una lista vacía. En dicha lista almacenarás el resultado de dicha función para cada una de las edades de esta lista. Utiliza un for loop . 

Pista: Para familiarizarte con la función, puedes utilizarla con edades dentro del rango de edad escolar.

In [30]:
def grado_escolar(edad):
    if (edad < 6 or edad > 17):
        return "No está en edad escolar"
    elif (edad >=6 and edad < 12):
        grado = "Primaria"
        if edad == 6:
            esp = "1er grado"
        elif edad == 7:
            esp = "2do grado"
        elif edad == 8:
            esp = "3er grado"
        elif edad == 9:
            esp = "4to grado"
        elif edad == 10:
            esp = "5to grado"
        else:
            esp = "6to grado"
        
    else:
        grado = "Secundaria"
        if edad == 12:
            esp = "1er año"
        elif edad == 13:
            esp = "2do año"
        elif edad == 14:
            esp = "3er año"
        elif edad == 15:
            esp = "4to año"
        else:
            esp = "5to año"
            
    return grado, esp

edades=[2, 4, 6, 7, 10, 15, 16]
resultados=[]
for edad in edades:
    resultado= grado_escolar(edad)
    resultados.append((edad, resultado))
    print(resultado) in resultados
    print(resultados)

No está en edad escolar
[(2, 'No está en edad escolar')]
No está en edad escolar
[(2, 'No está en edad escolar'), (4, 'No está en edad escolar')]
('Primaria', '1er grado')
[(2, 'No está en edad escolar'), (4, 'No está en edad escolar'), (6, ('Primaria', '1er grado'))]
('Primaria', '2do grado')
[(2, 'No está en edad escolar'), (4, 'No está en edad escolar'), (6, ('Primaria', '1er grado')), (7, ('Primaria', '2do grado'))]
('Primaria', '5to grado')
[(2, 'No está en edad escolar'), (4, 'No está en edad escolar'), (6, ('Primaria', '1er grado')), (7, ('Primaria', '2do grado')), (10, ('Primaria', '5to grado'))]
('Secundaria', '4to año')
[(2, 'No está en edad escolar'), (4, 'No está en edad escolar'), (6, ('Primaria', '1er grado')), (7, ('Primaria', '2do grado')), (10, ('Primaria', '5to grado')), (15, ('Secundaria', '4to año'))]
('Secundaria', '5to año')
[(2, 'No está en edad escolar'), (4, 'No está en edad escolar'), (6, ('Primaria', '1er grado')), (7, ('Primaria', '2do grado')), (10, ('Primaria', '5to grado')), (15, ('Secundaria', '4to año')), (16, ('Secundaria', '5to año'))]