# Tarea 4 (Grupo 6)

Hora de entrega: Viernes 14 de marzo, 23:59 pm

Entregar la tarea en este notebook, no usar una adicional a esta. 

Integrantes:
- Jesús Mio Ari
- Luis Huaranca Novoa
- Andrea Quispe Maslucán

# Parte 1

- Antes que nada, ¡necesitamos nuestros datos! 
1. Ve a la página de microdatos del [INEI](http://iinei.inei.gob.pe/microdatos/). 
2. Ve a "Consulta por encuestas" y ve a ENAHO metodología ACTUALIZADA. 
3. Elige aquella que dice "Condiciones de Vida y Pobreza - ENAHO" (la que no es panel). 
4. Elige el año 2022, y en período, elige la anual.   
5. Descarga los **archivos CSV** del Código módulo 1 (Características de la vivienda y el hogar) y el módulo 34 (Sumarias - Variables Calculadas). 

(El nombre del archivo de sumaria es Sumaria-2022).

Esta tarea está pensada en ser desarrollada con los CSV (no los .dta o .sav, que son los archivos de stata ó spss respectivamente).


La ENAHO es una encuesta muy amplia que está distribuida en varios módulos. En esta tarea veremos cómo podemos utilizar información de varios de estos módulos para sacar datos interesantes.

1. Lee ambos archivos csv con pandas y asígnales un nombre para que puedas trabajar con ambos como base de datos. (Si es que sale un error, es debido a que nuestras encuestas están en español y tienen caracteres como ˜ de la ñ o el acento. Por ello, a las opciones de lectura del csv, agrega la siguiente opción ``` encoding = "latin-1" ```. 

(No olvides importar pandas 🐼)


En caso tus columnas salgan con el nombre en mayúscula, puedes correr el siguiente comando para cambiarlas a minúsculas:

``` python3 
df.columns= df.columns.str.lower()
``` 
Donde `df` es el nombre del dataframe.   
(En esta clase no ahondamos en el manejo de strings, pero `lower()` es un método de este tipo de variables para convertir el string a minúscula.)

In [5]:
import pandas as pd

In [6]:
df_mod1 = pd.read_csv('Enaho01-2022-100.csv',
                      encoding = "latin-1")
df_mod1.columns= df_mod1.columns.str.lower()
df_mod1.head(10) # En adelante, nos referiremos al data frame para el modulo 1 de la ENAHO como df_mod1

,año,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,tipenc,...,nbi4,nbi5,factor07,nconglome,sub_conglome,codccpp,nomccpp,longitud,latitud,altitud
0,2022,2,5007,3,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
1,2022,2,5007,12,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
2,2022,2,5007,22,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
3,2022,2,5007,31,11,10101,4,4,1,3,...,,,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
4,2022,2,5007,50,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
5,2022,2,5007,62,11,10101,4,4,1,3,...,,,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
6,2022,2,5007,69,11,10101,4,4,1,3,...,,,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
7,2022,2,5007,90,11,10101,4,4,1,3,...,,,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
8,2022,3,5009,12,11,10101,4,4,1,3,...,,,167.946182,7076,0,1,CIUDAD CHACHAPOYAS,-77.861290,-6.225835,2287.0
9,2022,3,5009,41,11,10101,4,4,1,3,...,,,167.946182,7076,0,1,CIUDAD CHACHAPOYAS,-77.861290,-6.225835,2287.0

In [7]:
df_sum = pd.read_csv('Sumaria-2022.csv',
                      encoding = "latin-1")
df_sum.columns= df_sum.columns.str.lower()
df_sum.head(10) # En adelante, nos referiremos al data frame para el modulo sumaria de la ENAHO como df_sum

,año,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,mieperho,totmieho,...,estrsocial,factor07,ld,linpe,linea,pobreza,lineav,pobrezav,nconglome,sub_conglome
0,2022,1,5030,8,11,10201,7,4,2,2,...,4,106.890244,0.809237,223.765335,378.169434,3,636.334351,4,6618,0
1,2022,1,5030,17,11,10201,7,4,2,2,...,4,106.890244,0.809237,223.765335,378.169434,3,662.069275,4,6618,0
2,2022,1,5030,33,11,10201,7,4,4,4,...,4,106.890244,0.809237,223.765335,378.169434,3,662.475037,3,6618,0
3,2022,1,5030,50,11,10201,7,4,3,3,...,4,106.890244,0.809237,223.765335,378.169434,3,652.384521,3,6618,0
4,2022,1,5030,59,11,10201,7,4,11,11,...,4,106.890244,0.809237,223.765335,378.169434,2,654.640137,2,6618,0
5,2022,1,5049,3,11,10701,7,4,4,4,...,5,158.351349,0.809237,223.765335,378.169434,3,674.000793,3,6719,0
6,2022,1,5049,9,11,10701,7,4,5,5,...,5,158.351349,0.809237,223.765335,378.169434,3,615.735962,3,6719,0
7,2022,1,5049,19,11,10701,7,4,2,2,...,5,158.351349,0.809237,223.765335,378.169434,2,676.475403,2,6719,0
8,2022,1,5049,24,11,10701,7,4,4,4,...,5,158.351349,0.809237,223.765335,378.169434,2,650.410583,2,6719,0
9,2022,1,5049,28,11,10701,7,4,1,1,...,5,158.351349,0.809237,223.765335,378.169434,2,650.817871,2,6719,0

2. - ¿Cuáles son las dimensiones de la sumaria? (o el número de filas y columnas).
   - ¿Cuáles son las dimensiones del módulo de vivienda? (o el número de filas y columnas).

In [9]:
df_sum.shape

(34213, 167)

In [10]:
df_mod1.shape

(44122, 324)

3. En esta oportunidad no necesitaremos todas las variables de la ENAHO para hacer esta tarea. 
- Quedémonos con las variables ``` CONGLOME VIVIENDA HOGAR MIEPERHO PERCEPHO POBREZA GASHOG2D INGHOG2D UBIGEO``` de la sumaria. 
- Quedémonos con las variables ``` CONGLOME VIVIENDA HOGAR RESULT NBI1 NBI2 NBI3 NBI4 NBI5 ``` del módulo de vivienda.

 
 Nota: cada una de las variables es:
- MIEPERHO: número de miembros del hogar. 
- PERCEPHO: número de perceptores del hogar (que reciben un ingreso). 
- POBREZA: Pobreza monetaria según la línea de pobreza. 
- GASHOG2D: Gasto bruto anual del hogar. 
- INGHOG2D: Ingreso anual neto total del hogar. 
- UBIGEO: Código de 6 dígitos que indica el distrito de pertenencia de la persona. 

Necesidades básicas:
- NBI1: vivienda inadecuada.
- NBI2: hacinamiento
- NBI3: vivienda sin servicios higiénicos
- NBI4: hogares con  niños que no asisten a la escuela.
- NBI5: hogares con alta dependencia económica 

CONGLOME, VIVIENDA y HOGAR son los identificadores únicos a nivel de hogar (como un key id).

In [12]:
df_sum = df_sum[['conglome', 'vivienda', 'hogar', 'mieperho', 'percepho', 'pobreza', 'gashog2d', 'inghog2d', 'ubigeo']]

df_sum.shape

(34213, 9)

In [13]:
df_mod1 = df_mod1[['conglome', 'vivienda', 'hogar', 'result', 'nbi1', 'nbi2', 'nbi3', 'nbi4', 'nbi5']]

df_mod1.shape

(44122, 9)

4. El módulo vivienda incluye todos los hogares que entraron en el marco muestral, incluso aquellos que no participaron en la ENAHO por diversos motivos. Para eliminar estas viviendas, quedémonos con aquellas cuyo ``` RESULT``` sea igual a 1 ó 2. Almacena este resultado para después.

In [15]:
df_mod1['result']

0        1
1        1
2        1
3        4
4        1
        ..
44117    1
44118    1
44119    1
44120    7
44121    2
Name: result, Length: 44122, dtype: int64

In [16]:
df_mod1 = df_mod1[df_mod1['result'].isin([1,2])]

In [17]:
df_mod1.shape # Antes tenía 44122 observaciones, ahora solo tiene 34213

(34213, 9)

5. Queremos calcular una serie de variables (ó columnas nuevas):  
En sumaria: 
- Queremos el número de miembros dependientes del hogar . Estos son el número de personas que no perciben un ingreso ó la diferencia entre el total de miembros y el total de perceptores. 
- Queremos el ingreso mensual promedio por perceptor del hogar.
- Queremos la diferencia  entre ingreso y gasto del hogar

In [19]:
# tu respuesta aquí
df_sum.loc[:,'m_dep']= df_sum['mieperho']-df_sum['percepho'] #puse el .loc porque antes me salía una advertencia 
df_sum

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,m_dep
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4
...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0

In [20]:
print(df_sum[['mieperho','percepho']].dtypes) # Pista: evaluar los tipos de las variables, y verificar que aquellas que sean numéricas, efectivamente lo sean.

mieperho    int64
percepho    int64
dtype: object

In [21]:
df_sum.loc[:,'i_men']= (df_sum['inghog2d']/df_sum['percepho'])/12
df_sum.loc[:,'i_men']= df_sum['i_men'].round(2)
df_sum

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,m_dep,i_men
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.94
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.84
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.31
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.41
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.29
...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0,828.75
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0,519.82
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0,439.83
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2,391.58
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0,307.62

In [22]:
df_sum.loc[:,'restante']= df_sum['inghog2d']-df_sum['gashog2d']
df_sum.loc[:,'restante']= df_sum['restante'].round(2)
df_sum.head(10)

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,m_dep,i_men,restante
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.94,-2343.08
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.84,33866.97
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.31,4215.15
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.41,7867.82
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.29,15449.90
5,5049,3,11,4,4,3,22806.416016,31586.597656,10701,0,658.05,8780.18
6,5049,9,11,5,2,3,30243.855469,36253.007812,10701,3,1510.54,6009.15
7,5049,19,11,2,2,2,6640.384277,5599.352051,10701,0,233.31,-1041.03
8,5049,24,11,4,2,2,10971.149414,11706.937500,10701,2,487.79,735.79
9,5049,28,11,1,1,2,3470.296875,5266.649414,10701,0,438.89,1796.35

6. La variable de `pobreza`, en la sumaria, está codificada como integers 1, 2 y 3. Esto corresponde a:  
`1`: hogar pobre extremo  
`2`: hogar pobre no extremo  
`3`: hogar no  pobre  

En base a esta variable, crea dos variables más:
1. Una variable que tenga `'pobre extremo'`, `'pobre no extremo'` y `'no pobre'` en vez  de 1, 2, 3.
2. Una variable que tenga `'pobre'` y `'no pobre'` (ó que englobe a los hogares pobres y pobres no extremos).

In [24]:
df_sum.loc[:,'pobreza']=df_sum['pobreza'].map({1:'pobre extremo',2:'pobre no extremo',3:'no pobre'})
df_sum.head(10)

/var/folders/v5/719lrkzs4hj7f4f4mwq95c1h0000gn/T/ipykernel_93346/461079508.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['no pobre' 'no pobre' 'no pobre' ... 'no pobre' 'pobre no extremo'
 'pobre no extremo']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_sum.loc[:,'pobreza']=df_sum['pobreza'].map({1:'pobre extremo',2:'pobre no extremo',3:'no pobre'})

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,m_dep,i_men,restante
0,5030,8,11,2,2,no pobre,36949.523438,34606.441406,10201,0,1441.94,-2343.08
1,5030,17,11,2,2,no pobre,48161.250000,82028.218750,10201,0,3417.84,33866.97
2,5030,33,11,4,4,no pobre,27575.876953,31791.029297,10201,0,662.31,4215.15
3,5030,50,11,3,1,no pobre,16161.042969,24028.867188,10201,2,2002.41,7867.82
4,5030,59,11,11,7,pobre no extremo,30606.212891,46056.109375,10201,4,548.29,15449.90
5,5049,3,11,4,4,no pobre,22806.416016,31586.597656,10701,0,658.05,8780.18
6,5049,9,11,5,2,no pobre,30243.855469,36253.007812,10701,3,1510.54,6009.15
7,5049,19,11,2,2,pobre no extremo,6640.384277,5599.352051,10701,0,233.31,-1041.03
8,5049,24,11,4,2,pobre no extremo,10971.149414,11706.937500,10701,2,487.79,735.79
9,5049,28,11,1,1,pobre no extremo,3470.296875,5266.649414,10701,0,438.89,1796.35

In [25]:
# tu respuesta aquí

7. Queremos saber el promedio de ingresos de los hogares (inghog2d) por nivel de pobreza. Haz un `groupby` para averiguar esto. 


(Por ejemplo, todos los hogares pobres extremos tendrán un único promedio, y así con las 2 categorías de pobreza adicionales).

In [27]:
df_sum[['inghog2d', 'pobreza']].groupby('pobreza').mean()

                      inghog2d
pobreza
no pobre          40513.933057
pobre extremo     12945.434301
pobre no extremo  20042.135942

8. ¡Ahora uniremos los datos!  
Pero antes un check de sanidad: Verifica que el número  de filas de ambas bases de datos son las mismas (acuérdate que filtramos las observaciones por `result`).  La ENAHO recolecta información de estos 34,490 hogares a través de todos sus módulos. Para utilizar estos módulos a la vez, realizaremos una "unión" (merge).   

Une ambas bases con un _inner merge_. Recuerda que el id que identifica a cada hogar se compone de ` conglome vivienda hogar`.

In [29]:
# tu respuesta aquí
df_sum.shape

(34213, 12)

In [30]:
# tu respuesta aquí
df_mod1.shape

(34213, 9)

In [83]:
# tu respuesta aquí
merged_df = pd.merge(df_mod1, df_sum, on=['conglome','vivienda','hogar'], how='inner')

merged_df.head(10)

,conglome,vivienda,hogar,result,nbi1,nbi2,nbi3,nbi4,nbi5,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,m_dep,i_men,restante
0,5007,3,11,1,0,0,0,0,0,1,1,no pobre,40847.644531,31442.000000,10101,0,2620.17,-9405.64
1,5007,12,11,1,0,0,0,0,0,1,1,no pobre,16204.973633,21950.435547,10101,0,1829.20,5745.46
2,5007,22,11,1,0,0,0,0,0,3,3,no pobre,49330.324219,88248.492188,10101,0,2451.35,38918.17
3,5007,50,11,1,0,0,0,0,0,2,2,no pobre,32412.154297,35573.386719,10101,0,1482.22,3161.23
4,5009,56,11,1,0,1,0,0,0,4,4,no pobre,31859.541016,32386.849609,10101,0,674.73,527.31
5,5009,84,11,1,0,0,0,0,0,2,1,no pobre,20966.777344,24687.599609,10101,1,2057.30,3720.82
6,5009,98,11,1,0,1,0,0,0,4,2,pobre no extremo,14625.762695,14951.790039,10101,2,622.99,326.03
7,5009,126,11,1,0,0,0,0,0,2,2,no pobre,82667.210938,96805.585938,10101,0,4033.57,14138.38
8,5027,6,11,1,0,0,0,0,0,4,2,pobre extremo,9433.437500,17802.712891,10201,2,741.78,8369.28
9,5027,18,11,1,0,0,0,0,0,5,2,no pobre,34529.871094,18177.822266,10201,3,757.41,-16352.05

9. Haz un ```groupby``` que agrupe (`agg`) los datos por nivel de pobreza  y la nbi1. Queremos hallar el promedio y la mediana de los ingresos (inghog2d) y los gastos (gashog2d) por el producto cartesiano de las categorías de estas 2 variables - pobreza y nbi 1 -. 

El producto cartesiano es tan sólo todas las posibles combinaciones entre categorías. 
En este caso, tendremos:
- pobre extremo con nbi1
- pobre extremo sin nbi1
- pobre no extremo con nbi1
- pobre no extremo sin nbi1
- no pobre con nbi1
- no pobre sin nbi1

(Este es un  ejemplo de cómo, al cruzar un indicador de pobreza monetaria -pobreza- y pobreza multidimensional-nbis-, podemos seguir observando brechas).

In [96]:
# tu respuesta aquí

merged_v1 = merged_df[['pobreza', 'nbi1', 'inghog2d', 'gashog2d']]

merged_agg = merged_v1.groupby(['pobreza', 'nbi1'])

merged_agg = merged_agg.agg(['mean', 'median']).round(2)

merged_agg

                       inghog2d            gashog2d
                           mean    median      mean    median
pobreza          nbi1
no pobre         0     41483.64  30811.55  32560.46  27251.42
                 1     25945.49  21665.68  21946.11  20046.34
pobre extremo    0     12789.43  10092.85   8384.46   7918.08
                 1     13938.83  11361.21   9048.72   8502.18
pobre no extremo 0     20230.73  16260.11  14899.36  13943.96
                 1     18634.61  15314.00  14865.04  13673.35

10. Crea una variable que nos informe sobre los hogares que tienen al menos dos nbis. Esta tomará el valor de 1 si tiene dos nbis (cualquiera sean estas), 0 en caso contrario (menos de 2). 

Calcula el promedio de miembros dependientes por cada categoría de esta nueva variable.

In [124]:
# tu respuesta aquí

merged_df = merged_df.astype({'nbi1': int, 'nbi2': int,'nbi3': int,'nbi4': int,'nbi5': int})

In [126]:
merged_df.loc[:,'dos_nbis']= merged_df['nbi1']+merged_df['nbi2']+merged_df['nbi3']+merged_df['nbi4']+merged_df['nbi5']

def recode(dos_nbis):
    if dos_nbis >= 2:
        return 1
    else:
        return 0

merged_df['dos_nbis'] = merged_df['dos_nbis'].apply(recode)


merged_df.groupby('dos_nbis').aggregate({"m_dep":['mean']}).round(2)

         m_dep
          mean
dos_nbis
0         1.16
1         2.46

Crédito extra: 

11. Guarda el dataframe del resultado del ejercicio 9 como un csv. (No es necesario adjuntar este csv, con  que el bloque haya corrido está bien).

In [128]:
# tu respuesta aquí. 

merged_agg.to_csv('enaho_mod.csv')

12. Haz una tabulación cruzada en donde cuentes el número de personas, por nivel de pobreza, que hay en cada departamento. Este nuevo dataframe tendrá como filas a los departamentos y las nuevas columnas, los 3 niveles de pobreza (pobre extremo, pobre y no pobre). Usa `pivot_table`.

*Nota: Los departamentos no necesitan tener nombre, con que estén enumerados del 1 al 25, está bien. 
Pista: Puedes utilizar una función que guarde el primer dígito de ubigeo cuando el valor es menor a x, y guardar 2 dígitos cuando el valor es mayor.   
El método de creación de la variable departamento es libre.

In [165]:
# tu respuesta aquí. 

merged_df.dtypes

def departamento(ubigeo):
    ubigeo_string = str(ubigeo)
    if len(ubigeo_string) > 5: 
        return int(ubigeo_string[:2])
    else:
        return int(ubigeo_string[0])

merged_df['departamento'] = merged_df['ubigeo'].apply(departamento)

merged_df.head(10)

,conglome,vivienda,hogar,result,nbi1,nbi2,nbi3,nbi4,nbi5,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,m_dep,i_men,restante,dos_nbis,departamento
0,5007,3,11,1,0,0,0,0,0,1,1,no pobre,40847.644531,31442.000000,10101,0,2620.17,-9405.64,0,1
1,5007,12,11,1,0,0,0,0,0,1,1,no pobre,16204.973633,21950.435547,10101,0,1829.20,5745.46,0,1
2,5007,22,11,1,0,0,0,0,0,3,3,no pobre,49330.324219,88248.492188,10101,0,2451.35,38918.17,0,1
3,5007,50,11,1,0,0,0,0,0,2,2,no pobre,32412.154297,35573.386719,10101,0,1482.22,3161.23,0,1
4,5009,56,11,1,0,1,0,0,0,4,4,no pobre,31859.541016,32386.849609,10101,0,674.73,527.31,0,1
5,5009,84,11,1,0,0,0,0,0,2,1,no pobre,20966.777344,24687.599609,10101,1,2057.30,3720.82,0,1
6,5009,98,11,1,0,1,0,0,0,4,2,pobre no extremo,14625.762695,14951.790039,10101,2,622.99,326.03,0,1
7,5009,126,11,1,0,0,0,0,0,2,2,no pobre,82667.210938,96805.585938,10101,0,4033.57,14138.38,0,1
8,5027,6,11,1,0,0,0,0,0,4,2,pobre extremo,9433.437500,17802.712891,10201,2,741.78,8369.28,0,1
9,5027,18,11,1,0,0,0,0,0,5,2,no pobre,34529.871094,18177.822266,10201,3,757.41,-16352.05,0,1

In [187]:
# tu respuesta aquí. 

merged_df['conteo'] = 1

tabla_cruzada = pd.pivot_table(merged_df, index=['departamento'],  
                               columns=['pobreza'], 
                               values='conteo', 
                               aggfunc='sum')

tabla_cruzada

pobreza       no pobre  pobre extremo  pobre no extremo
departamento
1                957.0           93.0             215.0
2               1169.0           48.0             192.0
3                747.0           33.0             167.0
4               1353.0           33.0             153.0
5                758.0          109.0             278.0
6                872.0          239.0             361.0
7                786.0           30.0             190.0
8               1005.0           31.0             197.0
9                724.0           79.0             237.0
10               890.0           95.0             278.0
11              1475.0            NaN              45.0
12              1268.0           48.0             205.0
13              1197.0           57.0             290.0
14              1279.0           12.0             121.0
15              3755.0          103.0             694.0
16               966.0          136.0             287.0
17               570.0            7.0              38.0
18               871.0           36.0              82.0
19               619.0           68.0             192.0
20              1260.0           44.0             326.0
21               740.0          107.0             294.0
22              1148.0           38.0             179.0
23              1090.0           27.0             204.0
24               724.0            4.0             133.0
25               969.0           26.0             160.0

# Parte 2

1. Escribe una función que toma dos parámetros numéricos, `a` y `b`, y resta ambos números, de tal forma que `c = a - b`. Expresa `c` como el valor a retornar.

In [43]:
def restar(a,b):
    c=a-b
    return c 

resultado= restar(8,1)
print(resultado)

7

2. Escribe una función que transforme la temperatura de grados celsius a grados fahrenheit. La fórmula es:    
$F = 1.8*C + 32$

In [45]:
def celsius_a_fahrenheit(c):
                         
    F= 1.8 * c + 32
    
    return F 
temperatura_c = 30
temperatura_f = celsius_a_fahrenheit(temperatura_c)
print(temperatura_f)

86.0

3. 

3.1. Escribe una función que tome como input una lista de números y calcule su promedio. 

3.2. Escribe una función que tome como input un diccionario, y que almacene en una lista a todos sus valores.  
Es decir. Si el diccionario es el de la clase: 
`ejem_dict =  {"Juana": "gallina", "Martin": "gato", "Carla": "conejo", "Cristina": "gato", "Diego": "perro" } `
Queremos un diccionario = `["gallina", "gato", "conejo","gato", "perro"]`

In [47]:
def calcular_promedio(lista_n):
    if len(lista_n) == 0:
       return 0
    return sum(lista_n) / len(lista_n)

numeros = [2,4,6,8,10]
promedio = calcular_promedio(numeros)
print(promedio)


def extraer_valores(diccionario):
    return list(diccionario.values())

ejem_dict =  {"Juana": "gallina", "Martin": "gato", "Carla": "conejo", "Cristina": "gato", "Diego": "perro" }
lista_valores = extraer_valores (ejem_dict) 
print(lista_valores)

6.0
['gallina', 'gato', 'conejo', 'gato', 'perro']

4. Tenemos la siguientes función:

In [130]:
def grado_escolar(edad):
    
    ''' calcula el grado escolar al que pertences segun tu edad
    Input: 
    edad : int
    output: tupla, compuestad de 
    grado: string
    esp: especifico que grado
    
    '''
    
    if ((edad < 6) | (edad > 17)):
        return "No está en edad escolar"
    #assert edad > 5 & edad < 17
    elif ((edad >=6) & (edad < 12)):
        grado = "Primaria"
        if edad == 6:
            esp = "1er grado"
        elif edad == 7:
            esp = "2do grado"
        elif edad == 8:
            esp = "3er grado"
        elif edad == 9:
            esp = "4to grado"
        elif edad == 10:
            esp = "5to grado"
        else:
            esp = "6to grado"
        
    else:
        grado = "Secundaria"
        if edad == 12:
            esp = "1er año"
        elif edad == 13:
            esp = "2do año"
        elif edad == 14:
            esp = "3er año"
        elif edad == 15:
            esp = "4to año"
        else:
            esp = "5to año"
            
    return grado, esp


Asimismo, tenemos a 7 niños, que tienen las siguientes edades:   
    `edades = [2, 4, 6, 7, 10, 15, 16]`  
Queremos saber a qué grados/años van estos niños. Para ello, crea una lista vacía. En dicha lista almacenarás el resultado de dicha función para cada una de las edades de esta lista. Utiliza un for loop . 

Pista: Para familiarizarte con la función, puedes utilizarla con edades dentro del rango de edad escolar.

In [143]:
grado_escolar(8)

('Primaria', '3er grado')

In [159]:
edades = [2, 4, 6, 7, 10, 15, 16]
grado_resultado = []

for edad in edades:
    resultado = grado_escolar(edad),
    grado_resultado.append(resultado)

grado_resultado

[('No está en edad escolar',),
 ('No está en edad escolar',),
 (('Primaria', '1er grado'),),
 (('Primaria', '2do grado'),),
 (('Primaria', '5to grado'),),
 (('Secundaria', '4to año'),),
 (('Secundaria', '5to año'),)]