# Tarea 4 

Hora de entrega: Viernes 14 de marzo, 23:59 pm


Entregar la tarea en este notebook, no usar una adicional a esta.

# Parte 1

- Antes que nada, 춰necesitamos nuestros datos! 
1. Ve a la p치gina de microdatos del [INEI](http://iinei.inei.gob.pe/microdatos/). 
2. Ve a "Consulta por encuestas" y ve a ENAHO metodolog칤a ACTUALIZADA. 
3. Elige aquella que dice "Condiciones de Vida y Pobreza - ENAHO" (la que no es panel). 
4. Elige el a침o 2022, y en per칤odo, elige la anual.   
5. Descarga los **archivos CSV** del C칩digo m칩dulo 1 (Caracter칤sticas de la vivienda y el hogar) y el m칩dulo 34 (Sumarias - Variables Calculadas). 

(El nombre del archivo de sumaria es Sumaria-2022).

Esta tarea est치 pensada en ser desarrollada con los CSV (no los .dta o .sav, que son los archivos de stata 칩 spss respectivamente).


La ENAHO es una encuesta muy amplia que est치 distribuida en varios m칩dulos. En esta tarea veremos c칩mo podemos utilizar informaci칩n de varios de estos m칩dulos para sacar datos interesantes.

1. Lee ambos archivos csv con pandas y as칤gnales un nombre para que puedas trabajar con ambos como base de datos. (Si es que sale un error, es debido a que nuestras encuestas est치n en espa침ol y tienen caracteres como 틮 de la 침 o el acento. Por ello, a las opciones de lectura del csv, agrega la siguiente opci칩n ``` encoding = "latin-1" ```. 

(No olvides importar pandas 游냪)


En caso tus columnas salgan con el nombre en may칰scula, puedes correr el siguiente comando para cambiarlas a min칰sculas:

``` python3 
df.columns= df.columns.str.lower()
``` 
Donde `df` es el nombre del dataframe.   
(En esta clase no ahondamos en el manejo de strings, pero `lower()` es un m칠todo de este tipo de variables para convertir el string a min칰scula.)

In [3]:
#Importamos pandas
import pandas as pd

#Leer un archico CSV
#Archivo Enaho o modulo de vivienda
df_enaho  = pd.read_csv('Enaho_2022.csv', encoding = "latin-1")
df_enaho.columns= df_enaho.columns.str.lower()
df_enaho

,a침o,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,tipenc,...,nbi4,nbi5,factor07,nconglome,sub_conglome,codccpp,nomccpp,longitud,latitud,altitud
0,2022,2,5007,3,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
1,2022,2,5007,12,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
2,2022,2,5007,22,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
3,2022,2,5007,31,11,10101,4,4,1,3,...,,,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
4,2022,2,5007,50,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44117,2022,4,21001,32,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44118,2022,4,21001,33,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44119,2022,4,21001,34,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44120,2022,4,21001,35,11,210903,6,8,4,5,...,,,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44121,2022,4,21001,36,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0

In [4]:
#Archivo Sumaria
df_sumaria=pd.read_csv('Sumaria_2022.csv', encoding = "latin-1")
df_sumaria.columns= df_sumaria.columns.str.lower()
df_sumaria

,a침o,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,mieperho,totmieho,...,estrsocial,factor07,ld,linpe,linea,pobreza,lineav,pobrezav,nconglome,sub_conglome
0,2022,1,5030,8,11,10201,7,4,2,2,...,4,106.890244,0.809237,223.765335,378.169434,3,636.334351,4,6618,0
1,2022,1,5030,17,11,10201,7,4,2,2,...,4,106.890244,0.809237,223.765335,378.169434,3,662.069275,4,6618,0
2,2022,1,5030,33,11,10201,7,4,4,4,...,4,106.890244,0.809237,223.765335,378.169434,3,662.475037,3,6618,0
3,2022,1,5030,50,11,10201,7,4,3,3,...,4,106.890244,0.809237,223.765335,378.169434,3,652.384521,3,6618,0
4,2022,1,5030,59,11,10201,7,4,11,11,...,4,106.890244,0.809237,223.765335,378.169434,2,654.640137,2,6618,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,2022,12,20537,144,11,210106,6,7,1,1,...,6,329.687836,0.733048,195.850494,315.582428,3,578.385559,3,42033,0
34209,2022,12,20537,232,11,210106,6,7,2,2,...,6,329.687836,0.733048,195.850494,315.582428,3,577.431763,3,42033,0
34210,2022,12,20537,233,11,210106,6,7,1,1,...,6,329.687836,0.733048,195.850494,315.582428,3,579.787720,4,42033,0
34211,2022,12,20537,234,11,210106,6,7,4,4,...,6,329.687836,0.733048,195.850494,315.582428,2,572.994141,2,42033,0
34212,2022,12,20537,235,11,210106,6,7,2,2,...,6,329.687836,0.733048,195.850494,315.582428,2,578.909973,2,42033,0

2. - 쮺u치les son las dimensiones de la sumaria? (o el n칰mero de filas y columnas).
   - 쮺u치les son las dimensiones del m칩dulo de vivienda? (o el n칰mero de filas y columnas).

In [5]:
df_sumaria.shape

(34213, 167)

In [6]:
df_enaho.shape

(44122, 324)

3. En esta oportunidad no necesitaremos todas las variables de la ENAHO para hacer esta tarea. 
- Qued칠monos con las variables ``` CONGLOME VIVIENDA HOGAR MIEPERHO PERCEPHO POBREZA GASHOG2D INGHOG2D UBIGEO``` de la sumaria. 
- Qued칠monos con las variables ``` CONGLOME VIVIENDA HOGAR RESULT NBI1 NBI2 NBI3 NBI4 NBI5 ``` del m칩dulo de vivienda.

 
 Nota: cada una de las variables es:
- MIEPERHO: n칰mero de miembros del hogar. 
- PERCEPHO: n칰mero de perceptores del hogar (que reciben un ingreso). 
- POBREZA: Pobreza monetaria seg칰n la l칤nea de pobreza. 
- GASHOG2D: Gasto bruto anual del hogar. 
- INGHOG2D: Ingreso anual neto total del hogar. 
- UBIGEO: C칩digo de 6 d칤gitos que indica el distrito de pertenencia de la persona. 

Necesidades b치sicas:
- NBI1: vivienda inadecuada.
- NBI2: hacinamiento
- NBI3: vivienda sin servicios higi칠nicos
- NBI4: hogares con  ni침os que no asisten a la escuela.
- NBI5: hogares con alta dependencia econ칩mica 

CONGLOME, VIVIENDA y HOGAR son los identificadores 칰nicos a nivel de hogar (como un key id).

In [7]:
#Definir variables
vars_sumaria = ["conglome", "vivienda", "hogar", "mieperho", "percepho", "pobreza", "gashog2d", "inghog2d", "ubigeo"]
vars_enaho = ["conglome", "vivienda", "hogar", "result", "nbi1", "nbi2", "nbi3", "nbi4", "nbi5"]
# Filtrar las columnas
sumaria_filtrado = df_sumaria[vars_sumaria]
enaho_filtrado = df_enaho[vars_enaho]
#Merge
merged_1 = pd.merge(sumaria_filtrado, enaho_filtrado, on=["conglome", "vivienda", "hogar"], how="inner")
merged_1

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,result,nbi1,nbi2,nbi3,nbi4,nbi5
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,1,0,0,0,0,0
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,1,0,0,0,0,0
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,1,0,1,0,0,0
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,1,0,0,0,0,0
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,1,0,0,0,0,0
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,2,0,0,0,0,0
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,1,0,0,0,0,0
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,1,0,0,0,0,0
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,1,0,0,0,0,0

4. El m칩dulo vivienda incluye todos los hogares que entraron en el marco muestral, incluso aquellos que no participaron en la ENAHO por diversos motivos. Para eliminar estas viviendas, qued칠monos con aquellas cuyo ``` RESULT``` sea igual a 1 칩 2. Almacena este resultado para despu칠s.

In [8]:
var_enaho=["vivienda","result"]
enaho_1=df_enaho[var_enaho]
enaho_2 = enaho_1[enaho_1["result"].isin([1, 2])]
enaho_2

       vivienda  result
0             3       1
1            12       1
2            22       1
4            50       1
10           56       1
...         ...     ...
44115        30       1
44117        32       1
44118        33       1
44119        34       1
44121        36       2

[34213 rows x 2 columns]

5. Queremos calcular una serie de variables (칩 columnas nuevas):  
En sumaria: 
- Queremos el n칰mero de miembros dependientes del hogar . Estos son el n칰mero de personas que no perciben un ingreso 칩 la diferencia entre el total de miembros y el total de perceptores. 
- Queremos el ingreso mensual promedio por perceptor del hogar.
- Queremos la diferencia  entre ingreso y gasto del hogar

In [9]:
# Convertir columnas a num칠rico, ignorando identificadores y variables categ칩ricas
cols_numericas = ['mieperho', 'percepho', 'gashog2d', 'inghog2d', 'nbi1', 'nbi2', 'nbi3', 'nbi4', 'nbi5']
merged_1[cols_numericas] = merged_1[cols_numericas].apply(pd.to_numeric, errors='coerce')

# N칰mero de dependientes
merged_1['dependientes'] = merged_1['mieperho'] - merged_1['percepho']
print(merged_1[['mieperho', 'percepho', 'dependientes']].head())

   mieperho  percepho  dependientes
0         2         2             0
1         2         2             0
2         4         4             0
3         3         1             2
4        11         7             4

In [10]:
# tu respuesta aqu칤
# Ingreso mensual promedio por perceptor del hogar
merged_1['ing_mensual'] = merged_1['inghog2d']/(merged_1['percepho']*12)
print(merged_1[['mieperho', 'percepho', 'ing_mensual']].head())

   mieperho  percepho  ing_mensual
0         2         2  1441.935059
1         2         2  3417.842448
2         4         4   662.313110
3         3         1  2002.405599
4        11         7   548.287016

In [11]:
# tu respuesta aqu칤.

# Diferencia entre ingreso y gasto del hogar
merged_1['balance'] = merged_1['inghog2d']-merged_1['gashog2d']
print(merged_1[['mieperho', 'percepho', 'balance']].head())

   mieperho  percepho       balance
0         2         2  -2343.082031
1         2         2  33866.968750
2         4         4   4215.152344
3         3         1   7867.824219
4        11         7  15449.896484

6. La variable de `pobreza`, en la sumaria, est치 codificada como integers 1, 2 y 3. Esto corresponde a:  
`1`: hogar pobre extremo  
`2`: hogar pobre no extremo  
`3`: hogar no  pobre  

En base a esta variable, crea dos variables m치s:
1. Una variable que tenga `'pobre extremo'`, `'pobre no extremo'` y `'no pobre'` en vez  de 1, 2, 3.
2. Una variable que tenga `'pobre'` y `'no pobre'` (칩 que englobe a los hogares pobres y pobres no extremos).

In [34]:
# tu respuesta aqu칤
merged_1['pobreza_categoria'] = 'no pobre'
merged_1.loc[merged_1['pobreza'] == 1, 'pobreza_categoria'] = 'pobre extremo'
merged_1.loc[merged_1['pobreza'] == 2, 'pobreza_categoria'] = 'pobre no extremo'
merged_1

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,result,nbi1,nbi2,nbi3,nbi4,nbi5,dependientes,ing_mensual,balance,pobreza_categoria,pobreza_categoria2
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,1,0,0,0,0,0,0,1441.935059,-2343.082031,no pobre,no pobre
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,1,0,0,0,0,0,0,3417.842448,33866.968750,no pobre,no pobre
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,1,0,1,0,0,0,0,662.313110,4215.152344,no pobre,no pobre
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,1,0,0,0,0,0,2,2002.405599,7867.824219,no pobre,no pobre
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,1,0,1,0,0,0,4,548.287016,15449.896484,pobre no extremo,pobre
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,1,0,0,0,0,0,0,828.746989,5507.148926,no pobre,no pobre
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,2,0,0,0,0,0,0,519.818156,4543.809082,no pobre,no pobre
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,1,0,0,0,0,0,0,439.826335,-3238.875977,no pobre,no pobre
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,1,0,0,0,0,0,2,391.583252,-3521.853516,pobre no extremo,pobre
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,1,0,0,0,0,0,0,307.616923,1113.862793,pobre no extremo,pobre

In [35]:
# tu respuesta aqu칤
merged_1['pobreza_categoria2'] = 'no pobre'
merged_1.loc[merged_1['pobreza'] == 1, 'pobreza_categoria2'] = 'pobre'
merged_1.loc[merged_1['pobreza'] == 2, 'pobreza_categoria2'] = 'pobre'
merged_1

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,result,nbi1,nbi2,nbi3,nbi4,nbi5,dependientes,ing_mensual,balance,pobreza_categoria,pobreza_categoria2
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,1,0,0,0,0,0,0,1441.935059,-2343.082031,no pobre,no pobre
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,1,0,0,0,0,0,0,3417.842448,33866.968750,no pobre,no pobre
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,1,0,1,0,0,0,0,662.313110,4215.152344,no pobre,no pobre
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,1,0,0,0,0,0,2,2002.405599,7867.824219,no pobre,no pobre
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,1,0,1,0,0,0,4,548.287016,15449.896484,pobre no extremo,pobre
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,1,0,0,0,0,0,0,828.746989,5507.148926,no pobre,no pobre
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,2,0,0,0,0,0,0,519.818156,4543.809082,no pobre,no pobre
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,1,0,0,0,0,0,0,439.826335,-3238.875977,no pobre,no pobre
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,1,0,0,0,0,0,2,391.583252,-3521.853516,pobre no extremo,pobre
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,1,0,0,0,0,0,0,307.616923,1113.862793,pobre no extremo,pobre

7. Queremos saber el promedio de ingresos de los hogares (inghog2d) por nivel de pobreza. Haz un `groupby` para averiguar esto. 


(Por ejemplo, todos los hogares pobres extremos tendr치n un 칰nico promedio, y as칤 con las 2 categor칤as de pobreza adicionales).

In [51]:
promedio_ingreso_pobreza = merged_1.groupby('pobreza')['inghog2d'].mean()

print("Promedio de ingresos por nivel de pobreza:")
print(promedio_ingreso_pobreza)

Promedio de ingresos por nivel de pobreza:
pobreza
1    12945.434301
2    20042.135942
3    40513.933057
Name: inghog2d, dtype: float64

8. 춰Ahora uniremos los datos!  
Pero antes un check de sanidad: Verifica que el n칰mero  de filas de ambas bases de datos son las mismas (acu칠rdate que filtramos las observaciones por `result`).  La ENAHO recolecta informaci칩n de estos 34,490 hogares a trav칠s de todos sus m칩dulos. Para utilizar estos m칩dulos a la vez, realizaremos una "uni칩n" (merge).   

Une ambas bases con un _inner merge_. Recuerda que el id que identifica a cada hogar se compone de ` conglome vivienda hogar`.

In [53]:
# Verificaci칩n de filas en ambas bases de datos
print("Filas en enaho:", df_enaho.shape[0])
print("Filas en sumaria:", df_sumaria.shape[0])
print("Esperadas: 34,490")

Filas en enaho: 44122
Filas en sumaria: 34213
Esperadas: 34,490

In [54]:
# Verificaci칩n de valores nulos en las claves de uni칩n y de duplicados.
print("Valores nulos en enaho:", df_enaho[['conglome', 'vivienda', 'hogar']].isnull().sum())
print("Valores nules en sumaria:", df_sumaria[['conglome', 'vivienda', 'hogar']].isnull().sum())

print("Duplicados en enaho:", df_enaho.duplicated(subset=['conglome', 'vivienda', 'hogar']).sum())
print("Duplicados en sumaria:", df_sumaria.duplicated(subset=['conglome', 'vivienda', 'hogar']).sum())

Valores nulos en enaho: conglome    0
vivienda    0
hogar       0
dtype: int64
Valores nules en sumaria: conglome    0
vivienda    0
hogar       0
dtype: int64
Duplicados en enaho: 0
Duplicados en sumaria: 0

In [60]:
# Merge de base de datos y verificaci칩n del n칰mero de filas despues del merge
df_merged = df_enaho.merge(df_sumaria, on=['conglome', 'vivienda', 'hogar'], how='inner')
df_merged
print("N칰mero de filas despu칠s del merge", df_merged.shape[0])
print("Esperadas: 34,490")

N칰mero de filas despu칠s del merge 34213
Esperadas: 34,490

9. Haz un ```groupby``` que agrupe (`agg`) los datos por nivel de pobreza  y la nbi1. Queremos hallar el promedio y la mediana de los ingresos (inghog2d) y los gastos (gashog2d) por el producto cartesiano de las categor칤as de estas 2 variables - pobreza y nbi 1 -. 

El producto cartesiano es tan s칩lo todas las posibles combinaciones entre categor칤as. 
En este caso, tendremos:
- pobre extremo con nbi1
- pobre extremo sin nbi1
- pobre no extremo con nbi1
- pobre no extremo sin nbi1
- no pobre con nbi1
- no pobre sin nbi1

(Este es un  ejemplo de c칩mo, al cruzar un indicador de pobreza monetaria -pobreza- y pobreza multidimensional-nbis-, podemos seguir observando brechas).

In [62]:
# Agrupar con el nivel de pobreza y nbi1, calculando el promedio y mediana de ingresos y gastos 
agg_pobreza_nbi = df_merged.groupby(['pobreza', 'nbi1']).agg(promedio_ingreso=('inghog2d', 'mean'), mediana_ingreso=('inghog2d', 'median'), promedio_gasto=('gashog2d', 'mean'), mediana_gasto=('gashog2d', 'median')).reset_index()
print(agg_pobreza_nbi)

   pobreza nbi1  promedio_ingreso  mediana_ingreso  promedio_gasto  \
0        1    0      12789.427903     10092.849609     8384.462050
1        1    1      13938.827986     11361.211426     9048.719897
2        2    0      20230.731744     16260.113281    14899.363700
3        2    1      18634.609608     15313.995117    14865.038216
4        3    0      41483.639054     30811.552734    32560.459581
5        3    1      25945.486160     21665.683594    21946.112793

   mediana_gasto
0    7918.078613
1    8502.177246
2   13943.960938
3   13673.346680
4   27251.416016
5   20046.343750

10. Crea una variable que nos informe sobre los hogares que tienen al menos dos nbis. Esta tomar치 el valor de 1 si tiene dos nbis (cualquiera sean estas), 0 en caso contrario (menos de 2). 

Calcula el promedio de miembros dependientes por cada categor칤a de esta nueva variable.

In [ ]:
# Crear la variable que indica si un hogar tiene al menos dos nbi1
df_merged['dos_nbi'] = (df_merged[['nbi1', 'nbi2', 'nbi3', 'nbi4', 'nbi5']].sum(axis=1) >=2).astype(int)

# Calcular el promedio de miembros dependientes por categoria de esta nueva variable 
promedio_miembros = df_merged.groupby('dos_nbi')['miembros_dependientes'].mean().reset_index()

print(promedio_miembros)

Cr칠dito extra: 

11. Guarda el dataframe del resultado del ejercicio 9 como un csv. (No es necesario adjuntar este csv, con  que el bloque haya corrido est치 bien).

In [ ]:
# tu respuesta aqu칤. 
to_csv('resultado_ejercicio_9.csv')

12. Haz una tabulaci칩n cruzada en donde cuentes el n칰mero de personas, por nivel de pobreza, que hay en cada departamento. Este nuevo dataframe tendr치 como filas a los departamentos y las nuevas columnas, los 3 niveles de pobreza (pobre extremo, pobre y no pobre). Usa `pivot_table`.

*Nota: Los departamentos no necesitan tener nombre, con que est칠n enumerados del 1 al 25, est치 bien. 
Pista: Puedes utilizar una funci칩n que guarde el primer d칤gito de ubigeo cuando el valor es menor a x, y guardar 2 d칤gitos cuando el valor es mayor.   
El m칠todo de creaci칩n de la variable departamento es libre.

In [87]:
# tu respuesta aqu칤

# Parte 2

1. Escribe una funci칩n que toma dos par치metros num칠ricos, `a` y `b`, y resta ambos n칰meros, de tal forma que `c = a - b`. Expresa `c` como el valor a retornar.

In [ ]:
def resta(a, b):
   
    c = a - b
    return c

resultado = resta(0, 10)

print(f'El valor de c es igual a {resultado}')

El valor de c es igual a -10

2. Escribe una funci칩n que transforme la temperatura de grados celsius a grados fahrenheit. La f칩rmula es:    
$F = 1.8*C + 32$

In [ ]:
def celsius_a_fahrenheit(temp_c):
    '''
    Transforma temperatura de celsius a fahrenheit
    Input: 
        temp_c:n칰mero float
    Ouput: 
        retorna: n칰mero float
    '''
    
    temp_f=1.8*temp_c+32
    
    return temp_f 

cambiotemp= celsius_a_fahrenheit(10)


print(f'La temperatura en grados fahrenheit es {cambiotemp}')

La temperatura en grados fahrenheit es 50.0

3. 

3.1. Escribe una funci칩n que tome como input una lista de n칰meros y calcule su promedio. 

3.2. Escribe una funci칩n que tome como input un diccionario, y que almacene en una lista a todos sus valores.  
Es decir. Si el diccionario es el de la clase: 
`ejem_dict =  {"Juana": "gallina", "Martin": "gato", "Carla": "conejo", "Cristina": "gato", "Diego": "perro" } `
Queremos un diccionario = `["gallina", "gato", "conejo","gato", "perro"]`

In [41]:
def promedio(listadenumeros):
    '''
    Input:
    listadenumeros: lista de n칰meros (int o float)
    
    Output:
    Promedio: float
    '''
    return sum(listadenumeros) / len(listadenumeros)

# Definir la lista
lista = [1, 2, 3, 4, 5]

# Ejecutar
print(f'En base a la lista {lista}, el promedio es {promedio(lista)}')

#3.2 Diccionario
def diccionario3(diccionario):
    """
    Input:
    diccionario: dict

    Output:
    lista de valores: list
    """
    return list(diccionario.values())  

# Ejemplo
ejem_dict = {
    "Juana": "gallina",
    "Martin": "gato",
    "Carla": "conejo",
    "Cristina": "gato",
    "Diego": "perro"
}

resultado = diccionario3(ejem_dict)
print(f'El nuevo diccionario contiene맡resultado}')

En base a la lista [1, 2, 3, 4, 5], el promedio es 3.0
El nuevo diccionario contiene['gallina', 'gato', 'conejo', 'gato', 'perro']

4. Tenemos la siguientes funci칩n:

In [26]:
def grado_escolar(edad):
    
    ''' calcula el grado escolar al que pertences segun tu edad
    Input: 
    edad : int
    output: tupla, compuestad de 
    grado: string
    esp: especifico que grado
    
    '''
    
    if ((edad < 6) | (edad > 17)):
        return "No est치 en edad escolar"
    #assert edad > 5 & edad < 17
    elif ((edad >=6) & (edad < 12)):
        grado = "Primaria"
        if edad == 6:
            esp = "1er grado"
        elif edad == 7:
            esp = "2do grado"
        elif edad == 8:
            esp = "3er grado"
        elif edad == 9:
            esp = "4to grado"
        elif edad == 10:
            esp = "5to grado"
        else:
            esp = "6to grado"
        
    else:
        grado = "Secundaria"
        if edad == 12:
            esp = "1er a침o"
        elif edad == 13:
            esp = "2do a침o"
        elif edad == 14:
            esp = "3er a침o"
        elif edad == 15:
            esp = "4to a침o"
        else:
            esp = "5to a침o"
            
    return grado, esp


Asimismo, tenemos a 7 ni침os, que tienen las siguientes edades:   
    `edades = [2, 4, 6, 7, 10, 15, 16]`  
Queremos saber a qu칠 grados/a침os van estos ni침os. Para ello, crea una lista vac칤a. En dicha lista almacenar치s el resultado de dicha funci칩n para cada una de las edades de esta lista. Utiliza un for loop . 

Pista: Para familiarizarte con la funci칩n, puedes utilizarla con edades dentro del rango de edad escolar.

In [27]:
edades = [2, 4, 6, 7, 10, 15, 16]
edades

[2, 4, 6, 7, 10, 15, 16]

In [28]:
grados = []
for edad in edades:
    grados.append(grado_escolar(edad))

In [29]:
grados

['No est치 en edad escolar',
 'No est치 en edad escolar',
 ('Primaria', '1er grado'),
 ('Primaria', '2do grado'),
 ('Primaria', '5to grado'),
 ('Secundaria', '4to a침o'),
 ('Secundaria', '5to a침o')]