# Tarea 4 

Hora de entrega: Viernes 14 de marzo, 23:59 pm


Entregar la tarea en este notebook, no usar una adicional a esta.

# Parte 1

- Antes que nada, ¬°necesitamos nuestros datos! 
1. Ve a la p√°gina de microdatos del [INEI](http://iinei.inei.gob.pe/microdatos/). 
2. Ve a "Consulta por encuestas" y ve a ENAHO metodolog√≠a ACTUALIZADA. 
3. Elige aquella que dice "Condiciones de Vida y Pobreza - ENAHO" (la que no es panel). 
4. Elige el a√±o 2022, y en per√≠odo, elige la anual.   
5. Descarga los **archivos CSV** del C√≥digo m√≥dulo 1 (Caracter√≠sticas de la vivienda y el hogar) y el m√≥dulo 34 (Sumarias - Variables Calculadas). 

(El nombre del archivo de sumaria es Sumaria-2022).

Esta tarea est√° pensada en ser desarrollada con los CSV (no los .dta o .sav, que son los archivos de stata √≥ spss respectivamente).


La ENAHO es una encuesta muy amplia que est√° distribuida en varios m√≥dulos. En esta tarea veremos c√≥mo podemos utilizar informaci√≥n de varios de estos m√≥dulos para sacar datos interesantes.

1. Lee ambos archivos csv con pandas y as√≠gnales un nombre para que puedas trabajar con ambos como base de datos. (Si es que sale un error, es debido a que nuestras encuestas est√°n en espa√±ol y tienen caracteres como Àú de la √± o el acento. Por ello, a las opciones de lectura del csv, agrega la siguiente opci√≥n ``` encoding = "latin-1" ```. 

(No olvides importar pandas üêº)


En caso tus columnas salgan con el nombre en may√∫scula, puedes correr el siguiente comando para cambiarlas a min√∫sculas:

``` python3 
df.columns= df.columns.str.lower()
``` 
Donde `df` es el nombre del dataframe.   
(En esta clase no ahondamos en el manejo de strings, pero `lower()` es un m√©todo de este tipo de variables para convertir el string a min√∫scula.)

In [6]:
# !pip install pandas
import pandas as pd

In [19]:
modulo1_df = pd.read_csv("C:\\Users\\Almudena Andrade\\Downloads\\784-Modulo01\\Enaho01-2022-100.csv", encoding="latin-1")
modulo34_df = pd.read_csv("C:\\Users\\Almudena Andrade\\Downloads\\784-Modulo34\\Sumaria-2022.csv", encoding="latin-1")

modulo1_df.columns = modulo1_df.columns.str.lower()
modulo34_df.columns = modulo34_df.columns.str.lower()

modulo1_df.head(), modulo34_df.head()

(    a√±o  mes  conglome  vivienda  hogar  ubigeo  dominio  estrato  periodo  \
 0  2022    2      5007         3     11   10101        4        4        1
 1  2022    2      5007        12     11   10101        4        4        1
 2  2022    2      5007        22     11   10101        4        4        1
 3  2022    2      5007        31     11   10101        4        4        1
 4  2022    2      5007        50     11   10101        4        4        1

    tipenc  ...  nbi4  nbi5   factor07 nconglome sub_conglome codccpp  \
 0       3  ...     0     0  45.282372      7070            0       1
 1       3  ...     0     0  45.282372      7070            0       1
 2       3  ...     0     0  45.282372      7070            0       1
 3       3  ...              45.282372      7070            0       1
 4       3  ...     0     0  45.282372      7070            0       1

               nomccpp   longitud   latitud altitud
 0  CIUDAD CHACHAPOYAS -77.873924 -6.229049  2338.0
 1  CIUDAD CHACHAPOYAS -77.873924 -6.229049  2338.0
 2  CIUDAD CHACHAPOYAS -77.873924 -6.229049  2338.0
 3  CIUDAD CHACHAPOYAS -77.873924 -6.229049  2338.0
 4  CIUDAD CHACHAPOYAS -77.873924 -6.229049  2338.0

 [5 rows x 324 columns],
     a√±o  mes  conglome  vivienda  hogar  ubigeo  dominio  estrato  mieperho  \
 0  2022    1      5030         8     11   10201        7        4         2
 1  2022    1      5030        17     11   10201        7        4         2
 2  2022    1      5030        33     11   10201        7        4         4
 3  2022    1      5030        50     11   10201        7        4         3
 4  2022    1      5030        59     11   10201        7        4        11

    totmieho  ...  estrsocial    factor07        ld       linpe       linea  \
 0         2  ...           4  106.890244  0.809237  223.765335  378.169434
 1         2  ...           4  106.890244  0.809237  223.765335  378.169434
 2         4  ...           4  106.890244  0.809237  223.765335  378.169434
 3         3  ...           4  106.890244  0.809237  223.765335  378.169434
 4        11  ...           4  106.890244  0.809237  223.765335  378.169434

    pobreza      lineav  pobrezav  nconglome  sub_conglome
 0        3  636.334351         4       6618             0
 1        3  662.069275         4       6618             0
 2        3  662.475037         3       6618             0
 3        3  652.384521         3       6618             0
 4        2  654.640137         2       6618             0

 [5 rows x 167 columns])

2. - ¬øCu√°les son las dimensiones de la sumaria? (o el n√∫mero de filas y columnas).
   - ¬øCu√°les son las dimensiones del m√≥dulo de vivienda? (o el n√∫mero de filas y columnas).

In [21]:
dim_modulo1 = modulo1_df.shape
dim_modulo1

print(f"Dimensiones del modulo 1:{dim_modulo1}")

Dimensiones del modulo 1:(44122, 324)

In [22]:
dim_modulo34 = modulo34_df.shape
dim_modulo34

print(f"Dimensiones del modulo 34:{dim_modulo34}")

Dimensiones del modulo 34:(34213, 167)

3. En esta oportunidad no necesitaremos todas las variables de la ENAHO para hacer esta tarea. 
- Qued√©monos con las variables ``` CONGLOME VIVIENDA HOGAR MIEPERHO PERCEPHO POBREZA GASHOG2D INGHOG2D UBIGEO``` de la sumaria. 
- Qued√©monos con las variables ``` CONGLOME VIVIENDA HOGAR RESULT NBI1 NBI2 NBI3 NBI4 NBI5 ``` del m√≥dulo de vivienda.

 
 Nota: cada una de las variables es:
- MIEPERHO: n√∫mero de miembros del hogar. 
- PERCEPHO: n√∫mero de perceptores del hogar (que reciben un ingreso). 
- POBREZA: Pobreza monetaria seg√∫n la l√≠nea de pobreza. 
- GASHOG2D: Gasto bruto anual del hogar. 
- INGHOG2D: Ingreso anual neto total del hogar. 
- UBIGEO: C√≥digo de 6 d√≠gitos que indica el distrito de pertenencia de la persona. 

Necesidades b√°sicas:
- NBI1: vivienda inadecuada.
- NBI2: hacinamiento
- NBI3: vivienda sin servicios higi√©nicos
- NBI4: hogares con  ni√±os que no asisten a la escuela.
- NBI5: hogares con alta dependencia econ√≥mica 

CONGLOME, VIVIENDA y HOGAR son los identificadores √∫nicos a nivel de hogar (como un key id).

In [37]:
sumaria_variables = ["conglome", "vivienda", "hogar", "mieperho", "percepho", "pobreza", "gashog2d", "inghog2d", "ubigeo"]
sumaria_df = modulo34_df[sumaria_variables]

vivienda_variables = ["conglome", "vivienda", "hogar", "result", "nbi1", "nbi2", "nbi3", "nbi4", "nbi5"]
vivienda_df = modulo1_df[vivienda_variables]

sumaria_df.head(), vivienda_df.head()

(   conglome  vivienda  hogar  mieperho  percepho  pobreza      gashog2d  \
 0      5030         8     11         2         2        3  36949.523438
 1      5030        17     11         2         2        3  48161.250000
 2      5030        33     11         4         4        3  27575.876953
 3      5030        50     11         3         1        3  16161.042969
 4      5030        59     11        11         7        2  30606.212891

        inghog2d  ubigeo
 0  34606.441406   10201
 1  82028.218750   10201
 2  31791.029297   10201
 3  24028.867188   10201
 4  46056.109375   10201  ,
    conglome  vivienda  hogar  result nbi1 nbi2 nbi3 nbi4 nbi5
 0      5007         3     11       1    0    0    0    0    0
 1      5007        12     11       1    0    0    0    0    0
 2      5007        22     11       1    0    0    0    0    0
 3      5007        31     11       4
 4      5007        50     11       1    0    0    0    0    0)

4. El m√≥dulo vivienda incluye todos los hogares que entraron en el marco muestral, incluso aquellos que no participaron en la ENAHO por diversos motivos. Para eliminar estas viviendas, qued√©monos con aquellas cuyo ``` RESULT``` sea igual a 1 √≥ 2. Almacena este resultado para despu√©s.

In [38]:
vivienda_df = vivienda_df.loc[vivienda_df["result"].isin([1, 2])]
vivienda_df.head()

    conglome  vivienda  hogar  result nbi1 nbi2 nbi3 nbi4 nbi5
0       5007         3     11       1    0    0    0    0    0
1       5007        12     11       1    0    0    0    0    0
2       5007        22     11       1    0    0    0    0    0
4       5007        50     11       1    0    0    0    0    0
10      5009        56     11       1    0    1    0    0    0

5. Queremos calcular una serie de variables (√≥ columnas nuevas):  
En sumaria: 
- Queremos el n√∫mero de miembros dependientes del hogar . Estos son el n√∫mero de personas que no perciben un ingreso √≥ la diferencia entre el total de miembros y el total de perceptores. 
- Queremos el ingreso mensual promedio por perceptor del hogar.
- Queremos la diferencia  entre ingreso y gasto del hogar

In [83]:
# tu respuesta aqu√≠
# Pista: evaluar los tipos de las variables, y verificar que aquellas que sean num√©ricas, efectivamente lo sean.

# verificamos que todos sean num√©ricos
print(sumaria_df[["mieperho", "percepho", "inghog2d", "gashog2d"]].dtypes)

# N√∫mero de miembros dependientes del hogar
sumaria_df["dependientes"] = sumaria_df["mieperho"] - sumaria_df["percepho"]
sumaria_df.head()

mieperho      int64
percepho      int64
inghog2d    float64
gashog2d    float64
dtype: object

C:\Users\Almudena Andrade\AppData\Local\Temp\ipykernel_21216\3844093747.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sumaria_df["dependientes"] = sumaria_df["mieperho"] - sumaria_df["percepho"]

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,dependientes,ingreso_mensual_perceptor,diferencia_ing_gasto
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.935059,-2343.082031
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.842448,33866.968750
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.313110,4215.152344
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.405599,7867.824219
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.287016,15449.896484

In [81]:
# tu respuesta aqu√≠

# ingreso mensual promedio por perceptor
sumaria_df["ingreso_mensual_perceptor"] = sumaria_df["inghog2d"] / (sumaria_df["percepho"] * 12)
sumaria_df.head()

C:\Users\Almudena Andrade\AppData\Local\Temp\ipykernel_21216\1722611144.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sumaria_df["ingreso_mensual_perceptor"] = sumaria_df["inghog2d"] / (sumaria_df["percepho"] * 12)

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,dependientes,ingreso_mensual_perceptor
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.935059
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.842448
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.313110
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.405599
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.287016

In [82]:
# tu respuesta aqu√≠.

# Diferencia entre ingreso y gasto del hogar
sumaria_df["diferencia_ing_gasto"] = sumaria_df["inghog2d"] - sumaria_df["gashog2d"]
sumaria_df.head()

C:\Users\Almudena Andrade\AppData\Local\Temp\ipykernel_21216\3666286849.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sumaria_df["diferencia_ing_gasto"] = sumaria_df["inghog2d"] - sumaria_df["gashog2d"]

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,dependientes,ingreso_mensual_perceptor,diferencia_ing_gasto
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.935059,-2343.082031
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.842448,33866.968750
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.313110,4215.152344
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.405599,7867.824219
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.287016,15449.896484

6. La variable de `pobreza`, en la sumaria, est√° codificada como integers 1, 2 y 3. Esto corresponde a:  
`1`: hogar pobre extremo  
`2`: hogar pobre no extremo  
`3`: hogar no  pobre  

En base a esta variable, crea dos variables m√°s:
1. Una variable que tenga `'pobre extremo'`, `'pobre no extremo'` y `'no pobre'` en vez  de 1, 2, 3.
2. Una variable que tenga `'pobre'` y `'no pobre'` (√≥ que englobe a los hogares pobres y pobres no extremos).

In [28]:
# Primera respuesta
modulo34_df.loc[modulo34_df["pobreza"] == 1, "nivel_pobreza"] = "pobre extremo"
modulo34_df.loc[modulo34_df["pobreza"] == 2, "nivel_pobreza"] = "pobre no extremo"
modulo34_df.loc[modulo34_df["pobreza"] == 3, "nivel_pobreza"] = "no pobre"

print(modulo34_df[["pobreza", "nivel_pobreza"]].head())

   pobreza     nivel_pobreza
0        3          no pobre
1        3          no pobre
2        3          no pobre
3        3          no pobre
4        2  pobre no extremo

In [32]:
# Segunda respuesta
modulo34_df.loc[modulo34_df["pobreza"].isin([1, 2]), "pobreza_simplificada"] = "pobre"
modulo34_df.loc[modulo34_df["pobreza"] == 3, "pobreza_simplificada"] = "no pobre"

print(modulo34_df[["pobreza", "nivel_pobreza", "pobreza_simplificada"]].head())

   pobreza     nivel_pobreza pobreza_simplificada
0        3          no pobre             no pobre
1        3          no pobre             no pobre
2        3          no pobre             no pobre
3        3          no pobre             no pobre
4        2  pobre no extremo                pobre

7. Queremos saber el promedio de ingresos de los hogares (inghog2d) por nivel de pobreza. Haz un `groupby` para averiguar esto. 


(Por ejemplo, todos los hogares pobres extremos tendr√°n un √∫nico promedio, y as√≠ con las 2 categor√≠as de pobreza adicionales).

In [246]:
sumaria_small[['inghog2d', 'pobreza']].groupby('pobreza').mean()

             inghog2d
pobreza
1         9980.110857
2        15565.160905
3        32014.094308

8. ¬°Ahora uniremos los datos!  
Pero antes un check de sanidad: Verifica que el n√∫mero  de filas de ambas bases de datos son las mismas (acu√©rdate que filtramos las observaciones por `result`).  La ENAHO recolecta informaci√≥n de estos 34,490 hogares a trav√©s de todos sus m√≥dulos. Para utilizar estos m√≥dulos a la vez, realizaremos una "uni√≥n" (merge).   

Une ambas bases con un _inner merge_. Recuerda que el id que identifica a cada hogar se compone de ` conglome vivienda hogar`.

In [65]:
# tu respuesta aqu√≠
print(len(modulo1_df), len(modulo34_df))

22310 34213

In [42]:
# tu respuesta aqu√≠
print(modulo1_df.columns)
print(modulo34_df.columns)

Index(['a√±o', 'mes', 'conglome', 'vivienda', 'hogar', 'ubigeo', 'dominio',
       'estrato', 'periodo', 'tipenc',
       ...
       'nbi4', 'nbi5', 'factor07', 'nconglome', 'sub_conglome', 'codccpp',
       'nomccpp', 'longitud', 'latitud', 'altitud'],
      dtype='object', length=324)
Index(['a√±o', 'mes', 'conglome', 'vivienda', 'hogar', 'ubigeo', 'dominio',
       'estrato', 'mieperho', 'totmieho',
       ...
       'linpe', 'linea', 'pobreza', 'lineav', 'pobrezav', 'nconglome',
       'sub_conglome', 'pobreza_categoria', 'nivel_pobreza',
       'pobreza_simplificada'],
      dtype='object', length=170)

In [71]:
# tu respuesta aqu√≠

merged_df = modulo1_df.merge(modulo34_df, on=['conglome', 'vivienda', 'hogar'], how='inner')

print(len(merged_df))
merged_df.head()

22310

,a√±o_x,mes_x,conglome,vivienda,hogar,ubigeo_x,dominio_x,estrato_x,mieperho_x,totmieho_x,...,linpe_y,linea_y,pobreza_y,lineav_y,pobrezav_y,nconglome_y,sub_conglome_y,pobreza_categoria_y,nivel_pobreza_y,pobreza_simplificada_y
0,2022,1,5030,8,11,10201,7,4,2,2,...,223.765335,378.169434,3,636.334351,4,6618,0,no pobre,no pobre,no pobre
1,2022,1,5030,17,11,10201,7,4,2,2,...,223.765335,378.169434,3,662.069275,4,6618,0,no pobre,no pobre,no pobre
2,2022,1,5030,33,11,10201,7,4,4,4,...,223.765335,378.169434,3,662.475037,3,6618,0,no pobre,no pobre,no pobre
3,2022,1,5030,59,11,10201,7,4,11,11,...,223.765335,378.169434,2,654.640137,2,6618,0,pobre no extremo,pobre no extremo,pobre
4,2022,1,5049,35,11,10701,7,4,4,4,...,223.765335,378.169434,1,668.556091,1,6719,0,pobre extremo,pobre extremo,pobre

9. Haz un ```groupby``` que agrupe (`agg`) los datos por nivel de pobreza  y la nbi1. Queremos hallar el promedio y la mediana de los ingresos (inghog2d) y los gastos (gashog2d) por el producto cartesiano de las categor√≠as de estas 2 variables - pobreza y nbi 1 -. 

El producto cartesiano es tan s√≥lo todas las posibles combinaciones entre categor√≠as. 
En este caso, tendremos:
- pobre extremo con nbi1
- pobre extremo sin nbi1
- pobre no extremo con nbi1
- pobre no extremo sin nbi1
- no pobre con nbi1
- no pobre sin nbi1

(Este es un  ejemplo de c√≥mo, al cruzar un indicador de pobreza monetaria -pobreza- y pobreza multidimensional-nbis-, podemos seguir observando brechas).

In [93]:
# tu respuesta aqu√≠

merged_df = modulo1_df.merge(vivienda_df, on=["conglome", "vivienda", "hogar"], how="inner")

print(merged_df.shape)

print("nbi1" in merged_df.columns)  
print("nivel_pobreza" in merged_df.columns)  

resultado = merged_df.groupby(["nivel_pobreza", "nbi1"])[["inghog2d", "gashog2d"]].agg(["mean", "median"])
print(resultado)

(22310, 176)
True
True
                           inghog2d                    gashog2d
                               mean        median          mean        median
nivel_pobreza    nbi1
no pobre         0     41656.954372  30943.687500  32418.725993  27214.943359
                 1     26553.242038  22067.464844  22125.476841  20123.843750
pobre extremo    0     12581.633521   9942.978027   8352.285894   7863.053955
                 1     13853.902180  11588.000000   9157.339940   8510.512695
pobre no extremo 0     20573.667057  16493.626953  14938.310163  14043.469238
                 1     18521.646726  15186.986328  14905.636859  13621.658203

10. Crea una variable que nos informe sobre los hogares que tienen al menos dos nbis. Esta tomar√° el valor de 1 si tiene dos nbis (cualquiera sean estas), 0 en caso contrario (menos de 2). 

Calcula el promedio de miembros dependientes por cada categor√≠a de esta nueva variable.

In [117]:
# tu respuesta aqu√≠

vivienda_df["hogar_con_2_nbis"] = (vivienda_df[["nbi1", "nbi2", "nbi3", "nbi4", "nbi5"]].sum(axis=1) >= 2).astype(int)

sumaria_df.groupby("hogar_con_2_nbis")["miembros_dependientes"].mean()

TypeError: '>=' not supported between instances of 'str' and 'int'

Cr√©dito extra: 

11. Guarda el dataframe del resultado del ejercicio 9 como un csv. (No es necesario adjuntar este csv, con  que el bloque haya corrido est√° bien).

In [294]:
# tu respuesta aqu√≠.

12. Haz una tabulaci√≥n cruzada en donde cuentes el n√∫mero de personas, por nivel de pobreza, que hay en cada departamento. Este nuevo dataframe tendr√° como filas a los departamentos y las nuevas columnas, los 3 niveles de pobreza (pobre extremo, pobre y no pobre). Usa `pivot_table`.

*Nota: Los departamentos no necesitan tener nombre, con que est√©n enumerados del 1 al 25, est√° bien. 
Pista: Puedes utilizar una funci√≥n que guarde el primer d√≠gito de ubigeo cuando el valor es menor a x, y guardar 2 d√≠gitos cuando el valor es mayor.   
El m√©todo de creaci√≥n de la variable departamento es libre.

In [1]:
# tu respuesta aqu√≠.

# Parte 2

1. Escribe una funci√≥n que toma dos par√°metros num√©ricos, `a` y `b`, y resta ambos n√∫meros, de tal forma que `c = a - b`. Expresa `c` como el valor a retornar.

In [119]:
def restar(a, b):
    c = a - b
    return c

2. Escribe una funci√≥n que transforme la temperatura de grados celsius a grados fahrenheit. La f√≥rmula es:    
$F = 1.8*C + 32$

In [99]:
def celsius_a_fahrenheit(temp_c):
    '''
    transforma temperatura de celsius a fahrenheit
    Input: 
        temp_c:n√∫mero float
    Ouput: 
        retorna: n√∫mero float
    '''
    
    #Escribe aqu√≠ tu funci√≥n 
    temp_f = 1.8 * temp_c + 32
    return temp_f

In [103]:
def celsius_a_fahrenheit(temp_c):
    '''
    Transforma temperatura de celsius a fahrenheit
    Input: 
        temp_c: n√∫mero float
    Ouput: 
        retorna: n√∫mero float
    '''
    
    temp_f = 1.8 * temp_c + 32 # Aplicamos la f√≥rumla de conversi√≥n
    return temp_f

print(celsius_a_fahrenheit(0))
print(celsius_a_fahrenheit(100))

32.0
212.0

3. 

3.1. Escribe una funci√≥n que tome como input una lista de n√∫meros y calcule su promedio. 

3.2. Escribe una funci√≥n que tome como input un diccionario, y que almacene en una lista a todos sus valores.  
Es decir. Si el diccionario es el de la clase: 
`ejem_dict =  {"Juana": "gallina", "Martin": "gato", "Carla": "conejo", "Cristina": "gato", "Diego": "perro" } `
Queremos un diccionario = `["gallina", "gato", "conejo","gato", "perro"]`

In [113]:
>>> import math
>>> import statistics
>>> import numpy as np
>>> from scipy import stats
>>> import scipy
>>> import pandas as pd
>>> import matplotlib.pyplot as plt

def promedio(lista):
    mean = sum(lista)/len(lista)
    return mean

lista=[2,6,2,6]
promedio(lista)

4.0

4. Tenemos la siguientes funci√≥n:

In [3]:
def grado_escolar(edad):
    
    ''' calcula el grado escolar al que pertences segun tu edad
    Input: 
    edad : int
    output: tupla, compuestad de 
    grado: string
    esp: especifico que grado
    
    '''
    
    if ((edad < 6) | (edad > 17)):
        return "No est√° en edad escolar"
    #assert edad > 5 & edad < 17
    elif ((edad >=6) & (edad < 12)):
        grado = "Primaria"
        if edad == 6:
            esp = "1er grado"
        elif edad == 7:
            esp = "2do grado"
        elif edad == 8:
            esp = "3er grado"
        elif edad == 9:
            esp = "4to grado"
        elif edad == 10:
            esp = "5to grado"
        else:
            esp = "6to grado"
        
    else:
        grado = "Secundaria"
        if edad == 12:
            esp = "1er a√±o"
        elif edad == 13:
            esp = "2do a√±o"
        elif edad == 14:
            esp = "3er a√±o"
        elif edad == 15:
            esp = "4to a√±o"
        else:
            esp = "5to a√±o"
            
    return grado, esp


Asimismo, tenemos a 7 ni√±os, que tienen las siguientes edades:   
    `edades = [2, 4, 6, 7, 10, 15, 16]`  
Queremos saber a qu√© grados/a√±os van estos ni√±os. Para ello, crea una lista vac√≠a. En dicha lista almacenar√°s el resultado de dicha funci√≥n para cada una de las edades de esta lista. Utiliza un for loop . 

Pista: Para familiarizarte con la funci√≥n, puedes utilizarla con edades dentro del rango de edad escolar.

In [106]:
def grado_escolar(edad):
    
    ''' calcula el grado escolar al que pertences segun tu edad
    Input: 
    edad : int
    output: tupla, compuestad de 
    grado: string
    esp: especifico que grado
    
    '''
    
    if ((edad < 6) | (edad > 17)):
        return "No est√° en edad escolar"
    #assert edad > 5 & edad < 17
    elif ((edad >=6) & (edad < 12)):
        grado = "Primaria"
        if edad == 6:
            esp = "1er grado"
        elif edad == 7:
            esp = "2do grado"
        elif edad == 8:
            esp = "3er grado"
        elif edad == 9:
            esp = "4to grado"
        elif edad == 10:
            esp = "5to grado"
        else:
            esp = "6to grado"
        
    else:
        grado = "Secundaria"
        if edad == 12:
            esp = "1er a√±o"
        elif edad == 13:
            esp = "2do a√±o"
        elif edad == 14:
            esp = "3er a√±o"
        elif edad == 15:
            esp = "4to a√±o"
        else:
            esp = "5to a√±o"
            
    return grado, esp

edades = [2, 4, 6, 7, 10, 15, 16]

resultados = []

for edad in edades: 
    resultados.append((edad, grado_escolar(edad)))
    
for edad, resultado in resultados: 
    print(f"Edad: {edad} -> {resultado}")

Edad: 2 -> No est√° en edad escolar
Edad: 4 -> No est√° en edad escolar
Edad: 6 -> ('Primaria', '1er grado')
Edad: 7 -> ('Primaria', '2do grado')
Edad: 10 -> ('Primaria', '5to grado')
Edad: 15 -> ('Secundaria', '4to a√±o')
Edad: 16 -> ('Secundaria', '5to a√±o')