# Tarea 2 

Hora de entrega: Viernes 14 de marzo, 23:59 pm


Entregar la tarea en este notebook, no usar una adicional a esta. 

GRUPO 9

# Parte 1

- Antes que nada, ¡necesitamos nuestros datos! 
1. Ve a la página de microdatos del [INEI](http://iinei.inei.gob.pe/microdatos/). 
2. Ve a "Consulta por encuestas" y ve a ENAHO metodología ACTUALIZADA. 
3. Elige aquella que dice "Condiciones de Vida y Pobreza - ENAHO" (la que no es panel). 
4. Elige el año 2022, y en período, elige la anual.   
5. Descarga los **archivos CSV** del Código módulo 1 (Características de la vivienda y el hogar) y el módulo 34 (Sumarias - Variables Calculadas). 

(El nombre del archivo de sumaria es Sumaria-2022).

Esta tarea está pensada en ser desarrollada con los CSV (no los .dta o .sav, que son los archivos de stata ó spss respectivamente).


La ENAHO es una encuesta muy amplia que está distribuida en varios módulos. En esta tarea veremos cómo podemos utilizar información de varios de estos módulos para sacar datos interesantes.

1. Lee ambos archivos csv con pandas y asígnales un nombre para que puedas trabajar con ambos como base de datos. (Si es que sale un error, es debido a que nuestras encuestas están en español y tienen caracteres como ˜ de la ñ o el acento. Por ello, a las opciones de lectura del csv, agrega la siguiente opción ``` encoding = "latin-1" ```. 

(No olvides importar pandas 🐼)


En caso tus columnas salgan con el nombre en mayúscula, puedes correr el siguiente comando para cambiarlas a minúsculas:

``` python3 
df.columns= df.columns.str.lower()
``` 
Donde `df` es el nombre del dataframe.   
(En esta clase no ahondamos en el manejo de strings, pero `lower()` es un método de este tipo de variables para convertir el string a minúscula.)

In [567]:
!pip install openpyxl
import pandas as pd

Requirement already satisfied: openpyxl in c:\users\ahpla\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\ahpla\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [569]:
df_1= pd.read_csv("Sumaria-2022.csv", encoding = "latin-1")
df_1.columns=df_1.columns.str.lower()
df_1

,año,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,mieperho,totmieho,...,estrsocial,factor07,ld,linpe,linea,pobreza,lineav,pobrezav,nconglome,sub_conglome
0,2022,1,5030,8,11,10201,7,4,2,2,...,4,106.890244,0.809237,223.765335,378.169434,3,636.334351,4,6618,0
1,2022,1,5030,17,11,10201,7,4,2,2,...,4,106.890244,0.809237,223.765335,378.169434,3,662.069275,4,6618,0
2,2022,1,5030,33,11,10201,7,4,4,4,...,4,106.890244,0.809237,223.765335,378.169434,3,662.475037,3,6618,0
3,2022,1,5030,50,11,10201,7,4,3,3,...,4,106.890244,0.809237,223.765335,378.169434,3,652.384521,3,6618,0
4,2022,1,5030,59,11,10201,7,4,11,11,...,4,106.890244,0.809237,223.765335,378.169434,2,654.640137,2,6618,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,2022,12,20537,144,11,210106,6,7,1,1,...,6,329.687836,0.733048,195.850494,315.582428,3,578.385559,3,42033,0
34209,2022,12,20537,232,11,210106,6,7,2,2,...,6,329.687836,0.733048,195.850494,315.582428,3,577.431763,3,42033,0
34210,2022,12,20537,233,11,210106,6,7,1,1,...,6,329.687836,0.733048,195.850494,315.582428,3,579.787720,4,42033,0
34211,2022,12,20537,234,11,210106,6,7,4,4,...,6,329.687836,0.733048,195.850494,315.582428,2,572.994141,2,42033,0
34212,2022,12,20537,235,11,210106,6,7,2,2,...,6,329.687836,0.733048,195.850494,315.582428,2,578.909973,2,42033,0

In [571]:
df_2= pd.read_csv("Enaho01-2022-100.csv", encoding = "latin-1")
df_2.columns=df_2.columns.str.lower()
df_2

,año,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,tipenc,...,nbi4,nbi5,factor07,nconglome,sub_conglome,codccpp,nomccpp,longitud,latitud,altitud
0,2022,2,5007,3,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
1,2022,2,5007,12,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
2,2022,2,5007,22,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
3,2022,2,5007,31,11,10101,4,4,1,3,...,,,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
4,2022,2,5007,50,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44117,2022,4,21001,32,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44118,2022,4,21001,33,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44119,2022,4,21001,34,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44120,2022,4,21001,35,11,210903,6,8,4,5,...,,,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44121,2022,4,21001,36,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0

2. - ¿Cuáles son las dimensiones de la sumaria? (o el número de filas y columnas).
   - ¿Cuáles son las dimensiones del módulo de vivienda? (o el número de filas y columnas).

In [573]:
print("La dimensiónde la sumaria es", df_1.shape)

La dimensiónde la sumaria es (34213, 167)

In [575]:
print("La dimensión del módulo de vivienda es", df_2.shape)

La dimensión del módulo de vivienda es (44122, 324)

3. En esta oportunidad no necesitaremos todas las variables de la ENAHO para hacer esta tarea. 
- Quedémonos con las variables ``` CONGLOME VIVIENDA HOGAR MIEPERHO PERCEPHO POBREZA GASHOG2D INGHOG2D UBIGEO``` de la sumaria. 
- Quedémonos con las variables ``` CONGLOME VIVIENDA HOGAR RESULT NBI1 NBI2 NBI3 NBI4 NBI5 ``` del módulo de vivienda.

 
 Nota: cada una de las variables es:
- MIEPERHO: número de miembros del hogar. 
- PERCEPHO: número de perceptores del hogar (que reciben un ingreso). 
- POBREZA: Pobreza monetaria según la línea de pobreza. 
- GASHOG2D: Gasto bruto anual del hogar. 
- INGHOG2D: Ingreso anual neto total del hogar. 
- UBIGEO: Código de 6 dígitos que indica el distrito de pertenencia de la persona. 

Necesidades básicas:
- NBI1: vivienda inadecuada.
- NBI2: hacinamiento
- NBI3: vivienda sin servicios higiénicos
- NBI4: hogares con  niños que no asisten a la escuela.
- NBI5: hogares con alta dependencia económica 

CONGLOME, VIVIENDA y HOGAR son los identificadores únicos a nivel de hogar (como un key id).

In [577]:
df_1_filtrado = df_1[["conglome","vivienda","hogar","mieperho","percepho","pobreza","gashog2d","inghog2d","ubigeo"]]
df_1_filtrado

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201
...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106

In [579]:
df_2_filtrado = df_2[["conglome","vivienda","hogar","result","nbi1","nbi2","nbi3","nbi4","nbi5"]]
df_2_filtrado

       conglome  vivienda  hogar  result nbi1 nbi2 nbi3 nbi4 nbi5
0          5007         3     11       1    0    0    0    0    0
1          5007        12     11       1    0    0    0    0    0
2          5007        22     11       1    0    0    0    0    0
3          5007        31     11       4
4          5007        50     11       1    0    0    0    0    0
...         ...       ...    ...     ...  ...  ...  ...  ...  ...
44117     21001        32     11       1    0    0    0    0    0
44118     21001        33     11       1    0    0    0    0    0
44119     21001        34     11       1    0    0    0    0    0
44120     21001        35     11       7
44121     21001        36     11       2    0    0    0    0    0

[44122 rows x 9 columns]

4. El módulo vivienda incluye todos los hogares que entraron en el marco muestral, incluso aquellos que no participaron en la ENAHO por diversos motivos. Para eliminar estas viviendas, quedémonos con aquellas cuyo ``` RESULT``` sea igual a 1 ó 2. Almacena este resultado para después.

In [581]:
df_2_filtrado = df_2_filtrado.loc[(df_2_filtrado["result"]==1)|(df_2_filtrado["result"]==2)]
df_2_filtrado

       conglome  vivienda  hogar  result nbi1 nbi2 nbi3 nbi4 nbi5
0          5007         3     11       1    0    0    0    0    0
1          5007        12     11       1    0    0    0    0    0
2          5007        22     11       1    0    0    0    0    0
4          5007        50     11       1    0    0    0    0    0
10         5009        56     11       1    0    1    0    0    0
...         ...       ...    ...     ...  ...  ...  ...  ...  ...
44115     21001        30     11       1    0    0    0    0    0
44117     21001        32     11       1    0    0    0    0    0
44118     21001        33     11       1    0    0    0    0    0
44119     21001        34     11       1    0    0    0    0    0
44121     21001        36     11       2    0    0    0    0    0

[34213 rows x 9 columns]

5. Queremos calcular una serie de variables (ó columnas nuevas):  
En sumaria: 
- Queremos el número de miembros dependientes del hogar . Estos son el número de personas que no perciben un ingreso ó la diferencia entre el total de miembros y el total de perceptores. 
- Queremos el ingreso mensual promedio por perceptor del hogar.
- Queremos la diferencia  entre ingreso y gasto del hogar

In [585]:
# tu respuesta aquí
# Pista: evaluar los tipos de las variables, y verificar que aquellas que sean numéricas, efectivamente lo sean.
df_1_filtrado.loc[:,"Miembros dependientes"] = df_1_filtrado["mieperho"] - df_1_filtrado["percepho"]
df_1_filtrado

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,Miembros dependientes
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4
...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0

In [589]:
# tu respuesta aquí
df_1_filtrado.loc[:, "Ingreso mensual promedio por perceptor del hogar"] = df_1_filtrado["inghog2d"] / (12*df_1_filtrado["percepho"])
df_1_filtrado

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,Miembros dependientes,Ingreso mensual promedio por perceptor del hogar
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.935059
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.842448
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.313110
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.405599
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.287016
...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0,828.746989
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0,519.818156
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0,439.826335
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2,391.583252
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0,307.616923

In [593]:
# tu respuesta aquí.
df_1_filtrado.loc[:, "Diferencia entre ingreso y gasto del hogar"] = df_1_filtrado["inghog2d"] - df_1_filtrado["gashog2d"]
df_1_filtrado

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,Miembros dependientes,Ingreso mensual promedio por perceptor del hogar,Diferencia entre ingreso y gasto del hogar
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.935059,-2343.082031
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.842448,33866.968750
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.313110,4215.152344
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.405599,7867.824219
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.287016,15449.896484
...,...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0,828.746989,5507.148926
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0,519.818156,4543.809082
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0,439.826335,-3238.875977
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2,391.583252,-3521.853516
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0,307.616923,1113.862793

6. La variable de `pobreza`, en la sumaria, está codificada como integers 1, 2 y 3. Esto corresponde a:  
`1`: hogar pobre extremo  
`2`: hogar pobre no extremo  
`3`: hogar no  pobre  

En base a esta variable, crea dos variables más:
1. Una variable que tenga `'pobre extremo'`, `'pobre no extremo'` y `'no pobre'` en vez  de 1, 2, 3.
2. Una variable que tenga `'pobre'` y `'no pobre'` (ó que englobe a los hogares pobres y pobres no extremos).

In [597]:
# tu respuesta aquí
df_1_filtrado.loc[df_1_filtrado["pobreza"] == 1, "Pobreza Detallada"] = "pobre extremo"
df_1_filtrado.loc[df_1_filtrado["pobreza"] == 2, "Pobreza Detallada"] = "pobre no extremo"
df_1_filtrado.loc[df_1_filtrado["pobreza"] == 3 , "Pobreza Detallada"] = "no pobre"
df_1_filtrado

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,Miembros dependientes,Ingreso mensual promedio por perceptor del hogar,Diferencia entre ingreso y gasto del hogar,Pobreza Detallada
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.935059,-2343.082031,no pobre
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.842448,33866.968750,no pobre
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.313110,4215.152344,no pobre
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.405599,7867.824219,no pobre
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.287016,15449.896484,pobre no extremo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0,828.746989,5507.148926,no pobre
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0,519.818156,4543.809082,no pobre
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0,439.826335,-3238.875977,no pobre
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2,391.583252,-3521.853516,pobre no extremo
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0,307.616923,1113.862793,pobre no extremo

In [601]:
# tu respuesta aquí
df_1_filtrado.loc[(df_1_filtrado["pobreza"]==1)|(df_1_filtrado["pobreza"]==2), "Nivel de pobreza"] = "pobre"
df_1_filtrado.loc[df_1_filtrado["pobreza"]==3, "Nivel de pobreza"] = "no pobre"
df_1_filtrado

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,Miembros dependientes,Ingreso mensual promedio por perceptor del hogar,Diferencia entre ingreso y gasto del hogar,Pobreza Detallada,Nivel de pobreza
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.935059,-2343.082031,no pobre,no pobre
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.842448,33866.968750,no pobre,no pobre
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.313110,4215.152344,no pobre,no pobre
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.405599,7867.824219,no pobre,no pobre
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.287016,15449.896484,pobre no extremo,pobre
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0,828.746989,5507.148926,no pobre,no pobre
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0,519.818156,4543.809082,no pobre,no pobre
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0,439.826335,-3238.875977,no pobre,no pobre
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2,391.583252,-3521.853516,pobre no extremo,pobre
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0,307.616923,1113.862793,pobre no extremo,pobre

7. Queremos saber el promedio de ingresos de los hogares (inghog2d) por nivel de pobreza. Haz un `groupby` para averiguar esto. 


(Por ejemplo, todos los hogares pobres extremos tendrán un único promedio, y así con las 2 categorías de pobreza adicionales).

In [603]:
df_1_filtrado[["inghog2d", "pobreza"]].groupby("pobreza").mean()

             inghog2d
pobreza
1        12945.434301
2        20042.135942
3        40513.933057

8. ¡Ahora uniremos los datos!  
Pero antes un check de sanidad: Verifica que el número  de filas de ambas bases de datos son las mismas (acuérdate que filtramos las observaciones por `result`).  La ENAHO recolecta información de estos 34,490 hogares a través de todos sus módulos. Para utilizar estos módulos a la vez, realizaremos una "unión" (merge).   

Une ambas bases con un _inner merge_. Recuerda que el id que identifica a cada hogar se compone de ` conglome vivienda hogar`.

In [605]:
# tu respuesta aquí
if df_1_filtrado.shape[0] == df_2_filtrado.shape[0]:
    print("Ambas bases de datos poseen el mismo número de filas:", df_1_filtrado.shape[0])
else:
    print("Las bases no poseen el mismo número de filas.")
    print("Filas en df_1_filtrado:", df_1_filtrado.shape[0])
    print("Filas en df_2_filtrado:", df_2_filtrado.shape[0])

Ambas bases de datos poseen el mismo número de filas: 34213

In [607]:
# tu respuesta aquí
df_12_merge = pd.merge(df_1_filtrado, df_2_filtrado, on=["conglome", "vivienda", "hogar"], how="inner")
df_12_merge

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,Miembros dependientes,Ingreso mensual promedio por perceptor del hogar,Diferencia entre ingreso y gasto del hogar,Pobreza Detallada,Nivel de pobreza,result,nbi1,nbi2,nbi3,nbi4,nbi5
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.935059,-2343.082031,no pobre,no pobre,1,0,0,0,0,0
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.842448,33866.968750,no pobre,no pobre,1,0,0,0,0,0
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.313110,4215.152344,no pobre,no pobre,1,0,1,0,0,0
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.405599,7867.824219,no pobre,no pobre,1,0,0,0,0,0
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.287016,15449.896484,pobre no extremo,pobre,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0,828.746989,5507.148926,no pobre,no pobre,1,0,0,0,0,0
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0,519.818156,4543.809082,no pobre,no pobre,2,0,0,0,0,0
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0,439.826335,-3238.875977,no pobre,no pobre,1,0,0,0,0,0
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2,391.583252,-3521.853516,pobre no extremo,pobre,1,0,0,0,0,0
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0,307.616923,1113.862793,pobre no extremo,pobre,1,0,0,0,0,0

9. Haz un ```groupby``` que agrupe (`agg`) los datos por nivel de pobreza  y la nbi1. Queremos hallar el promedio y la mediana de los ingresos (inghog2d) y los gastos (gashog2d) por el producto cartesiano de las categorías de estas 2 variables - pobreza y nbi 1 -. 

El producto cartesiano es tan sólo todas las posibles combinaciones entre categorías. 
En este caso, tendremos:
- pobre extremo con nbi1
- pobre extremo sin nbi1
- pobre no extremo con nbi1
- pobre no extremo sin nbi1
- no pobre con nbi1
- no pobre sin nbi1

(Este es un  ejemplo de cómo, al cruzar un indicador de pobreza monetaria -pobreza- y pobreza multidimensional-nbis-, podemos seguir observando brechas).

In [609]:
# tu respuesta aquí
df_12_agrupado = df_12_merge.groupby(["Pobreza Detallada", "nbi1"])[["inghog2d", "gashog2d"]].agg(["mean", "median"])
df_12_agrupado

                            inghog2d                    gashog2d
                                mean        median          mean        median
Pobreza Detallada nbi1
no pobre          0     41483.639054  30811.552734  32560.459581  27251.416016
                  1     25945.486160  21665.683594  21946.112793  20046.343750
pobre extremo     0     12789.427903  10092.849609   8384.462050   7918.078613
                  1     13938.827986  11361.211426   9048.719897   8502.177246
pobre no extremo  0     20230.731744  16260.113281  14899.363700  13943.960938
                  1     18634.609608  15313.995117  14865.038216  13673.346680

10. Crea una variable que nos informe sobre los hogares que tienen al menos dos nbis. Esta tomará el valor de 1 si tiene dos nbis (cualquiera sean estas), 0 en caso contrario (menos de 2). 

Calcula el promedio de miembros dependientes por cada categoría de esta nueva variable.

In [613]:
# tu respuesta aquí
df_12_merge[["nbi1","nbi2", "nbi3", "nbi4", "nbi5"]] = df_12_merge[["nbi1", "nbi2", "nbi3", "nbi4", "nbi5"]].astype(int)
df_12_merge["Hogares con al menos dos nbis"] = (df_12_merge[["nbi1", "nbi2", "nbi3", "nbi4", "nbi5"]].sum(axis=1)>= 2).astype(int)
df_12_merge

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,Miembros dependientes,...,Diferencia entre ingreso y gasto del hogar,Pobreza Detallada,Nivel de pobreza,result,nbi1,nbi2,nbi3,nbi4,nbi5,Hogares con al menos dos nbis
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,...,-2343.082031,no pobre,no pobre,1,0,0,0,0,0,0
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,...,33866.968750,no pobre,no pobre,1,0,0,0,0,0,0
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,...,4215.152344,no pobre,no pobre,1,0,1,0,0,0,0
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,...,7867.824219,no pobre,no pobre,1,0,0,0,0,0,0
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,...,15449.896484,pobre no extremo,pobre,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106,0,...,5507.148926,no pobre,no pobre,1,0,0,0,0,0,0
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106,0,...,4543.809082,no pobre,no pobre,2,0,0,0,0,0,0
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106,0,...,-3238.875977,no pobre,no pobre,1,0,0,0,0,0,0
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106,2,...,-3521.853516,pobre no extremo,pobre,1,0,0,0,0,0,0
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106,0,...,1113.862793,pobre no extremo,pobre,1,0,0,0,0,0,0

In [627]:
#Siguiente pregunta
df_12_merge[["Miembros dependientes", "Hogares con al menos dos nbis"]].groupby("Hogares con al menos dos nbis").mean()

                               Miembros dependientes
Hogares con al menos dos nbis
0                                           1.159745
1                                           2.458242

Crédito extra: 

11. Guarda el dataframe del resultado del ejercicio 9 como un csv. (No es necesario adjuntar este csv, con  que el bloque haya corrido está bien).

In [637]:
# tu respuesta aquí. 
df_12_agrupado.to_csv("resultado_df_12_agrupado")
#Sí corrió :D

12. Haz una tabulación cruzada en donde cuentes el número de personas, por nivel de pobreza, que hay en cada departamento. Este nuevo dataframe tendrá como filas a los departamentos y las nuevas columnas, los 3 niveles de pobreza (pobre extremo, pobre y no pobre). Usa `pivot_table`.

*Nota: Los departamentos no necesitan tener nombre, con que estén enumerados del 1 al 25, está bien. 
Pista: Puedes utilizar una función que guarde el primer dígito de ubigeo cuando el valor es menor a x, y guardar 2 dígitos cuando el valor es mayor.   
El método de creación de la variable departamento es libre.

In [743]:
# tu respuesta aquí. 
def obtener_departamento(ubigeo):
    ubigeo_str = str(ubigeo).zfill(6)
    if len(ubigeo_str) == 5:
        return int(ubigeo_str[0])
    else: 
        return int(ubigeo_str[:2])

df_12_merge["departamento"] = df_12_merge["ubigeo"].apply(obtener_departamento)
tabulacion_cruzada = df_12_merge.pivot_table(
    index="departamento",
    columns="Pobreza Detallada",
    values="ubigeo",
    aggfunc="count",
    fill_value=0
)
print(tabulacion_cruzada)

Pobreza Detallada  no pobre  pobre extremo  pobre no extremo
departamento
1                       957             93               215
2                      1169             48               192
3                       747             33               167
4                      1353             33               153
5                       758            109               278
6                       872            239               361
7                       786             30               190
8                      1005             31               197
9                       724             79               237
10                      890             95               278
11                     1475              0                45
12                     1268             48               205
13                     1197             57               290
14                     1279             12               121
15                     3755            103               694
16                      966            136               287
17                      570              7                38
18                      871             36                82
19                      619             68               192
20                     1260             44               326
21                      740            107               294
22                     1148             38               179
23                     1090             27               204
24                      724              4               133
25                      969             26               160

# Parte 2

1. Escribe una función que toma dos parámetros numéricos, `a` y `b`, y resta ambos números, de tal forma que `c = a - b`. Expresa `c` como el valor a retornar.

In [333]:
def resta(a,b):
    c = a - b
    return c
resta(1,2)

-1

2. Escribe una función que transforme la temperatura de grados celsius a grados fahrenheit. La fórmula es:    
$F = 1.8*C + 32$

In [337]:
def celsius_a_fahrenheit(temp_c):
    '''
    transforma temperatura de celsius a fahrenheit
    Input: 
        temp_c:número float
    Ouput: 
        retorna: número float
    '''
    temp_f = (1.8)*temp_c + 32
    #Escribe aquí tu función 
    
    return temp_f 
celsius_a_fahrenheit(10)

50.0

3. 

3.1. Escribe una función que tome como input una lista de números y calcule su promedio. 

3.2. Escribe una función que tome como input un diccionario, y que almacene en una lista a todos sus valores.  
Es decir. Si el diccionario es el de la clase: 
`ejem_dict =  {"Juana": "gallina", "Martin": "gato", "Carla": "conejo", "Cristina": "gato", "Diego": "perro" } `
Queremos un diccionario = `["gallina", "gato", "conejo","gato", "perro"]`

In [753]:
#3.1
def Hallar_promedio():
    numeros = input("Escriba la lista de números para hallar el promedio (separado por espacios):")
    lista_numeros = [float(n) for n in numeros.split()]
    if len(lista_numeros) == 0:
        return "NO SE ESCRIBIERON NUMEROS"
        
    promedio = sum(lista_numeros)/len(lista_numeros)
    return promedio
respuesta = Hallar_promedio()
print(f"El promedio de la lista de números es: {respuesta}")

Escriba la lista de números para hallar el promedio (separado por espacios): 2 4 6

El promedio de la lista de números es: 4.0

In [778]:
def valores_diccionario_1():
    diccionario = eval(input("Escriba el diccionario correspondiente"))
    df = pd.DataFrame(diccionario.items(), columns = ["Datos", "Valores"])
    return df["Valores"].tolist()

lista_valores_diccionario = valores_diccionario_1()
print(lista_valores_diccionario)

Escriba el diccionario correspondiente {"Marcelo": "Letonia", "Robinho": "Rusia", "Adrian": "Francia"}

['Letonia', 'Rusia', 'Francia']

4. Tenemos la siguientes función:

In [415]:
def grado_escolar(edad):
    
    ''' calcula el grado escolar al que pertences segun tu edad
    Input: 
    edad : int
    output: tupla, compuestad de 
    grado: string
    esp: especifico que grado
    
    '''
    
    if ((edad < 6) | (edad > 17)):
        return "No está en edad escolar"
    #assert edad > 5 & edad < 17
    elif ((edad >=6) & (edad < 12)):
        grado = "Primaria"
        if edad == 6:
            esp = "1er grado"
        elif edad == 7:
            esp = "2do grado"
        elif edad == 8:
            esp = "3er grado"
        elif edad == 9:
            esp = "4to grado"
        elif edad == 10:
            esp = "5to grado"
        else:
            esp = "6to grado"
        
    else:
        grado = "Secundaria"
        if edad == 12:
            esp = "1er año"
        elif edad == 13:
            esp = "2do año"
        elif edad == 14:
            esp = "3er año"
        elif edad == 15:
            esp = "4to año"
        else:
            esp = "5to año"
            
    return grado, esp


Asimismo, tenemos a 7 niños, que tienen las siguientes edades:   
    `edades = [2, 4, 6, 7, 10, 15, 16]`  
Queremos saber a qué grados/años van estos niños. Para ello, crea una lista vacía. En dicha lista almacenarás el resultado de dicha función para cada una de las edades de esta lista. Utiliza un for loop . 

Pista: Para familiarizarte con la función, puedes utilizarla con edades dentro del rango de edad escolar.

In [419]:
edades = [2, 4, 6, 7, 10, 15, 16]
grados = []
for edad in edades: 
    respuesta = grado_escolar(edad)
    grados.append(respuesta)
print(grados)

['No está en edad escolar', 'No está en edad escolar', ('Primaria', '1er grado'), ('Primaria', '2do grado'), ('Primaria', '5to grado'), ('Secundaria', '4to año'), ('Secundaria', '5to año')]