# Tarea 1

Fecha de entrega: 
Miercoles 11 de marzo, 2025, 11.59pm

Comentarios generales:

- No olvidar que python usa el snake_case (o minúsculas separadas por subguión) para llamar a sus variables. 
- No nombrar variables con acentos porque algunas veces, dependiendo de la máquina en la que se corra, esto será aceptado o no. 
- Leer  claramente qué es lo que pide la pregunta.

Ejemplo:  Utilizando sólo los siguientes inputs numéricos: ```5``` y ```2```  , maneje los operadores tal que el output sea ```120```. Crea una variable con el resultado.

In [3]:
#Respuesta
output = (5*2)**2 + 5*2**2
output

120

1.  Utilizando sólo los siguientes inputs: ```5``` y ```2```  , maneje los operadores tal que el output sea ```50```

In [1]:
#Respuesta1
output= (5*5)*2
output

50

2. Evalúa que el output del ejemplo sea mayor al output de 1. Crea una variable con esta evaluación (Hint: Será un booleano).

In [3]:
#Respuesta 2
es_mayor_que_uno =output > 1
print(es_mayor_que_uno)

True

3. Utilizando sólo los siguientes inputs: ```31``` maneja los operadores tal que el output sea ```0```

In [4]:
output = (31*2)/2-31
output

0.0

4.  Utilizando sólo los siguientes inputs: ```2``` (todos los 2 que necesites) maneja los operadores tal que el output sea ```5```

In [5]:
2+2+2/2 #Usando operaciones combinadas obtenemos un 5

5.0

5. Crea una variable ```x``` y una variable ```y``` que sumen 1600. Crea una variable ```v``` que dé un booleano, tal que evalúe que ```x + y``` sea igual a 2000.

In [6]:
#SUMATORIA
x= 1000
y=600
print(x+y)

#BOOLEANO
v=(x+y)
print(v==2000)

1600
False

6. Cree una variable ```z``` y una variable ```a``` que sumen 1000.

In [7]:
#Respuesta6
z=600
a=400
output= (z+a)
output

1000

7. Calcula cuántas horas trabajan en total los 130 congresistas de nuestro país en un año. Asume que trabajan 40 horas a la semana, por 48 semanas al año (considerando que tienen vacaciones y no trabajan sobretiempo).

In [8]:
#Respuesta 7
# Datos del problema
congresistas = 130
horas_semanales = 40
semanas_anuales = 48

# Cálculo de las horas totales trabajadas en un año
horas_totales = congresistas * horas_semanales * semanas_anuales

# Imprimir resultado
print("Horas trabajadas en total por los 130 congresistas en un año:", horas_totales)

Horas trabajadas en total por los 130 congresistas en un año: 249600

8. Ahora calcula el salario de un congresista por hora. Los supuestos del anterior ejercicio se mantienen (Se puede pasar por alto las vacaciones). Cabe recordar que los congresistas ganan 15,600 soles mensuales.   
- Crea una variable para el salario por hora de un congresista.   
- Crea una variable para la suma de los salarios por hora de los 130 congresistas.

In [13]:
Horas_trabajadas=40*48
Horas_trabajadas
Salario_hora=15600/Horas_trabajadas
Salario_hora
Suma_salarios=Salario_hora*130
Suma_salarios

1056.25

9. Con la reducción del IGV para restaurantes y hoteles (https://emprender.sunat.gob.pe/tributando/temas-actualidad/reduccion-igv-para-restaurantes-hoteles), los restaurantes pagan el 10% de IGV. Un restaurante factura 3426 soles diarios, en promedio, después de impuestos. Calcule el valor base (el IGV es 10% sobre el valor base, ó 1 + .1).

Calcule, utilizando el valor base, cuánto es el descuento del IGV en soles (o el 8% de este valor base).

Cree una variable para cada uno de los siguientes:
- porcentaje de IGV 
- el total de facturación
- el monto del impuesto
- el valor base sin impuesto
- el descuento de IGV en soles. Puedes comprobar tu fórmula con cualquier recibo de pago que detalle el IGV.

In [74]:
fact_total = 3426 #Creamos el total de facturación
fact_neta= 3426/1.1 #Creamos el valor base sin impuesto
monto_IGV = fact_total - fact_neta #Creamos el monto del impuesto
print("el total de facturación:",fact_total)
print("el monto del impuesto:", monto_IGV)
print("el valor base sin impuesto:", fact_neta)
print("el descuento del IGV en soles:", round(desc_igv,2))

el total de facturación: 3426
el monto del impuesto: 311.4545454545455
el valor base sin impuesto: 3114.5454545454545
el descuento del IGV en soles: 311.45

10.  Cristina percibe el sueldo mínimo (1025 soles). Compruebe que el salario anual de Cristina es menor al salario anual de un congresista, usando operadores de comparación y una expresión que detalle el monto mensual y el número de meses trabajados de ambos. La comparación debe ser ser evaluada a un booleano

In [26]:
#SALARIO MENSUAL
sueldo_cristina=1025
sueldo_congresista=15600
#SALARIO ANUAL
s_anual_cristina=sueldo_cristina*12
s_anual_congresista=sueldo_congresista*12
#BOOLEANO
print(s_anual_cristina<s_anual_congresista)

True

11. Una conocida petrolera debe volver a compensar a  1023 familias que se dedican a la pesca por la contaminación causada en el mar donde pescan. El nuevo monto negociado es de 1200 millones de soles, sin embargo, una cláusula del contrato dice que el monto de compensación tiene que ser un número entero. ¿Cuántos soles adicionales se le  tiene  que agregar al monto negociado para que las familias reciban una cantidad entera,  asumiendo que para lograr este número entero, hay que elevar el monto total? (Pista: Acuérdate del  floor y el módulo).

In [27]:
#Respuesta11

import math
# Datos del problema
monto_total = 1200_000_000  # 1200 millones de soles
familias = 1023

compensacion_por_familia = monto_total / familias

# Si no es un número entero, encontrar el siguiente monto que sí lo sea
if compensacion_por_familia % 1 != 0:
    # Redondear para obtener un número entero
    nuevo_monto_total = math.ceil(monto_total / familias) * familias
    adicionales = nuevo_monto_total - monto_total
else:
    adicionales = 0  # No se necesita agregar nada

print(f"Se deben agregar {adicionales} soles al monto total para que cada familia reciba una cantidad entera.")

Se deben agregar 483 soles al monto total para que cada familia reciba una cantidad entera.

12. Crea una variable igual a una lista que contenga:
- un string,
- un booleano,
- dos valores numéricos (de cualquier tipo) y
- una lista de dos strings con el nombre de tus artistas musicales favoritos.

In [28]:
# Crear una lista
mi_lista = [
    "Hola",  # Un string
    True,  # Un booleano
    42, 3.14,  # Dos valores numéricos (entero y flotante)
    ["Coldplay", "The Beatles"]  # Lista de dos artistas musicales favoritos
]

# Imprimir la lista para verificar
print(mi_lista)

['Hola', True, 42, 3.14, ['Coldplay', 'The Beatles']]

13. Tenemos la siguiente lista de cursos:

In [8]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]

Realiza las siguientes operaciones en bloques diferentes: 
- Calcula cuántos elementos tiene la lista.

In [60]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]
len(cursos)

5

13.1. Agrega tres cursos adicionales de 3 formas diferentes (uno por forma):
   - Suma (+) una lista que contenga un curso adicional. 
   - Usa el append. 
   - Usa el extend.

In [61]:
curso=["Matemáticas"]
cursos=cursos+curso
cursos.append("Física")
cursos.extend(["Química"])
cursos

['Historia',
 'Economia',
 'Antropologia',
 'RSP',
 'Derecho',
 'Matemáticas',
 'Física',
 'Química']

13.2. 
- Usa la indexación para señalar a _RSP_.

In [62]:
cursos.index("RSP")

3

13.3.
- Remueve el curso que menos te guste de la lista.

In [63]:
cursos.remove("Química")
cursos

['Historia',
 'Economia',
 'Antropologia',
 'RSP',
 'Derecho',
 'Matemáticas',
 'Física']

14
Tenemos los siguientes números: 30, 24, 54.2, 15.8, 145, 90, 100.
 - Crea una lista con ellos. 
 - Ordena la lista de menor a mayor.
 - Saca el promedio de los números de la lista.  
(Realiza cada uno en bloques separados).

In [57]:
numeros = [30, 24, 54.2, 15.8, 145, 90, 100] # Creamos de la lista

numeros.sort() # Ordenamos la lista

promedio = sum(numeros)/len(numeros) #Promediamos los valores

print("Lista ordenada:", numeros)
print("promedio:", promedio)

Lista ordenada: [15.8, 24, 30, 54.2, 90, 100, 145]
promedio: 65.57142857142857

15.Utilizando un “if else” cree una estructura que evalúe “x” tal que:

Si x es múltiplo de 2 imprima “Es múltiplo de 2”.

Si x es múltiplo de 3 imprima “Es múltiplo de 3”

Si x es múltiplo de 2 y 3 imprima “Es múltiplo de 2 y 3”

Para otro caso, imprime “Otro caso”
Muestra un ejemplo con x = 6.

In [38]:
#Ejemplo
x=6
if x%2==0:
    print("Es múltiplo de 2")
if x%3==0:
    print("Es múltiplo de 3")
if x%2==0 and x%3==0:
    print("Es múltiplo de 2 y 3")
else: 
    print("Otro caso")

Es múltiplo de 2
Es múltiplo de 3
Es múltiplo de 2 y 3

16.Crea una función llamada clasificar_edad() que reciba como parámetro la edad de una
persona. La función debe clasificar a la persona en una de las siguientes categorías:

"Niño" si la edad es menor de 12 años.

"Adolescente" si la edad está entre 12 y 17 años.

“Joven” si la edad está entre 18 y 24 años.

"Adulto" si la edad está entre 25 y 64 años.

"Adulto Mayor" si la edad es mayor o igual a 65 años.

La función debe devolver la categoría correspondiente. Prueba la función con las edades de
10, 19, 25 y 70.

In [64]:
def clasificar_edad(edad):
    if edad < 12:
        return "Niño"
    elif 12 <= edad <= 17:
        return "Adolescente"
    elif 18 <= edad <= 24:
        return "Joven"
    elif 25 <= edad <= 64:
        return "Adulto"
    else:
        return "Adulto Mayor"
    
clasificar_edad(10)

'Niño'

In [65]:
clasificar_edad(19)

'Joven'

In [66]:
clasificar_edad(25)

'Adulto'

In [67]:
clasificar_edad(70)

'Adulto Mayor'

In [68]:
clasificar_edad(12)

'Adolescente'